[2010-05-07 16:04] gummybears opened #1 "Untitled"
Running the following example code,
require 'prawn'
require 'prawn-svg'
Prawn::Document.generate("svg.pdf") do
  svg IO.read("test.svg"), :at => [100, 300], :width => 600
end

gives the following error
..../ruby/lib/ruby/gems/1.8/gems/prawn-svg-0.9.1.6/lib/prawn/svg/parser.rb:67:in `parse': undefined method`tap' for []:A
rray (NoMethodError)
        from ..../ruby/lib/ruby/gems/1.8/gems/prawn-svg-

[2010-05-07 19:15] #1 closed, assigned to nobody

[2010-05-31 14:12] kalerzz opened #2 "SVG formulae"
Hi,

I've recently discovered your great prawn-svg module, and I think this is a very good idea!
It has been working with all SVG files I had till today.

Actually, I'm trying to incorporate a SVG Latex generated formula from this website (http://www.codecogs.com/latex/eqneditor.php) in a PDF file, using Prawn of course.

But the problem is that the rendering of the SVG file generated from any for

[2011-01-05 02:27] risen opened #3 "transform matrix issue"
Hi,

it seems there's a problem with rendering SVG's matrix transform.

Example SVG file:

[code]

With prawn-svg the ellipse shows up mirrored and in the wrong place compared to other renderers (webkit, inkscape, etc). Only the scale seems correct.

[2011-03-11 20:22] astjohn opened #4 "prawn-core dependency in gemspec"
In order to use prawn-svg with prawn 0.10.2, I had to remove the following line in gemspec:
    s.dependencies << Gem::Dependency.new("prawn-core", ">= 0.8.4")

Otherwise, prawn-core 0.8.4 was installing and overriding newer features in 0.10.2.

[2011-03-11 20:24] astjohn opened #5 "Images corrupted when placed inside a prawn repeat block."
Thanks for the great extension.  My images look amazing now.

I noticed that when placing the svg image inside a prawn repeat block, they do not turn out at all.   This is something I can work around, but would be nice to have.

[2011-03-11 20:25] #5 closed, assigned to nobody

[2011-03-11 23:44] astjohn opened #6 "Unpredictable results when placed in a 'dynamic' repeater prawn block"
Thanks for the great extension. My images look amazing now.

I noticed that results are unpredictable when placing the svg image inside a prawn repeat block with the dynamic option set to true. This is something I can work around, but would be nice to have.

[2011-11-18 16:53] activestylus opened #9 "undefined method `line_gap'"
Cant get this to work at all.

NoMethodError: undefined method `line_gap' for #<Prawn::Text::Box:0x000001022df7a0>
from /Users/home/.rvm/gems/ruby-1.9.2-p290@fp/gems/prawn-0.12.0/lib/prawn/table/cell/text.rb:60:in`block in natural_content_height'

This is how I'm using it:

[code]

I'm on Rails 3.0.8

[2012-02-24 05:09] stepheneb opened #10 "rendering problems -- with and without css_parser gem active."
I'm having problems rendering an svg graph -- with and without css_parser gem active.

Active Gems:
- css_parser (1.2.6)
- prawn (0.12.0)
- prawn-core (0.8.4)
- prawn-svg (0.9.1.10)
- prawn_rails (0.0.8)

Here's what the svg graph looks like live: http://bl.ocks.org/1182434

Here's the svg file I am rendering: https://gist.github.com/1897881

SVG imported into Inkscape and saved as a png:
![](http

[2012-04-19 22:25] #4 closed, assigned to nobody

[2012-10-04 12:50] plehoux opened #13 "Matrix transformation"
Hi,

First I want to thank you for this awesome gem!

I've been playing with it for the past 2 days, trying to get it to render a simple svg that contain a string of text rotated by a matrix.

The first thing I discovered is that line 79 of element.rb is preventing the matrix to get applied.

[code]

'arguments' variable is already an array of length 6 containing the value a,b,c,d,e,f.

(Same thin

[2012-10-10 16:26] #13 closed, assigned to nobody

[2012-10-10 16:27] #3 closed, assigned to nobody

[2012-10-10 16:30] #2 closed, assigned to nobody

[2012-10-10 16:32] #9 closed, assigned to nobody

[2012-10-10 17:34] #10 closed, assigned to nobody

[2012-10-18 01:45] ayosec opened #17 "Invalid line unions with a SVG generated from Google Charts"
There are some “peaks” with a SVG file generated with Google Charts.

The SVG is [available in a gist](https://gist.github.com/raw/3905924/13a9dff0c88b6995a51c05cf5a4da4c5a7dfe66b/output.svg).

It looks like this: http://i.imgur.com/Caaif.png

Other programs render it correctly:
- [A browser](http://i.imgur.com/2lnsV.png)
- [Inkscape](http://i.imgur.com/I6eqL.png)
- [Eye Of Gnome](http://i.imgur.c

[2012-10-18 13:41] #17 closed, assigned to nobody

[2012-10-18 13:41] #6 closed, assigned to nobody

[2012-10-18 18:11] plehoux opened #18 "<svg style="overflow:hidden;"></svg>"
Would be interesting to auto clip svg content if overflow:hidden is declared on <svg> tag.

For now I'm doing this:

[code]

[2012-10-22 21:44] plehoux opened #19 "Font-weight numerical range (100..900) + combinaison of weight and style"
Hi mogest,

[code]

The text above wont work. (On a setup where all open sans families are installed)

I could do some ground work on supporting font-weight numerical range (100..900) + combinaison of weight and style.

[2012-10-23 20:46] #19 closed, assigned to nobody

[2013-03-05 14:29] hiroyuki-sato opened #22 "About REAMDE.md"
Hello

prawn-svg is cool tool. Thank you so much.

By the way, could you please review my correction about README

https://github.com/mogest/prawn-svg#readme
- Original

  Prawn::Svg.font_path << "/my/font/directory"
- Maybe

  Prawn::Svg::Interface.font_path << "/my/font/directory"

Best regards

[2013-03-05 15:44] #22 closed, assigned to nobody

[2013-03-27 18:13] safiire opened #23 "clipPaths don't seem to be supported"
I have been using prawn-svg to convert HighCharts svg to pdf.  It seems to render very well, however HighCharts is using some clip paths to prevent the graph from sometimes overflowing out into the margins.

I have tested your spec/sample_svg/clip_path.svg test file:

[code]

Prawn-svg is outputting a red rect instead of two red circles.

Also, thanks for a great gem, other than this it is working

[2013-07-10 23:20] stevebooks opened #24 "Absolute positioning"
If I issue the following command:

[code]

I would expect the image to show up at the top left of the page. However, it is at the bottom.

Also, is "at" in pixels?

Thanks!

[2013-07-10 23:25] #24 closed, assigned to nobody

[2013-08-06 15:58] ykessler opened #25 "Scaling breaks when x/y scale values are not equal"
**This works:**
<rect width="100" height="100" transform="scale(2,2)"/>

**This does not:**
<rect width="100" height="100" transform="scale(1,2)"/>

In the second instance, no scaling happens. Instead, the graphic is translated to some unpredictable point, often off the screen entirely which makes it seem as if it disappeared.

Scaling with matrix transformations is broken in the same way:

**Does

[2013-08-10 17:12] #25 closed, assigned to nobody

[2013-10-02 15:01] ykessler opened #27 "Getting error after updating from 12.0.4 to 12.0.7: undefined method `gsub' for nil:NilClass"
We're getting the following error:

[code]

Trace:

[code]

This is happening on our local OSX 10.6.8 development box with code that worked fine with prawn-svg 12.0.4. Interestingly, when we deploy to Heroku, the 12.0.7 version does not error out, only our develpment box has been affected.

[2013-10-02 21:37] #27 closed, assigned to nobody

[2013-11-01 21:59] grignani opened #28 "Error with Prawn 1.0.0RC2"
Hi,

I have this error with Prawn-SVG 0.12.0.8 and Prawn 1.0.0RC2
 `svg "#{Prawn::DATADIR}/images/logo.svg", :at => [533, 786], :width => 70, :height => 18`

`/Library/Ruby/Gems/2.0.0/gems/prawn-svg-0.12.0.8/lib/prawn/svg/document.rb:37:in `initialize': undefined method `attributes' for nil:NilClass (NoMethodError)`

Is there an incompatibility with the latest version of Prawn? Or there's somethin

[2013-11-02 08:38] #23 closed, assigned to nobody

[2013-11-02 08:48] #28 closed, assigned to nobody

[2013-11-04 00:20] marekstachura opened #29 "undefined method `+' for nil:NilClass"
Hi,

I'm getting the error when trying to include svg (http://ideacrm.pl/assets/logo.svg) into pdf.

prawn: 1.0.0.rc2
prawn-svg: 0.12.0.8

[code]

Thanks,
Marek

[2013-11-04 08:43] #29 closed, assigned to nobody

[2013-11-12 23:04] rgraff opened #30 "undefined method `+' for nil:NilClass"
I'm having the same issue as #29 however version 0.12.0.9 does not fix it for me.

gem 'prawn', '1.0.0.rc2'
gem 'prawn-svg', '0.12.0.9'

pdf.svg(File.read(front_panel_image), :at => [0,0])

SVG image: https://s3.amazonaws.com/uploads.hipchat.com/58208/400543/761giIfappLBKYH/Holiday-GiftPanel.svg

prawn-svg (0.12.0.9) lib/prawn/svg/parser/path.rb:82:in `run_path_command'
prawn-svg (0.12.0.9) lib/pr

[2013-11-13 19:45] #30 closed, assigned to nobody

[2013-12-04 04:45] vidarh opened #34 "Matrix is incorrectly handled in some cases"
I've so far not been able to pinpoint the exact problem, but this simple SVG file illustrates the problem nicely if you load it in a browser, and then copy it into the sample svg directory and run rspect to generate a PDF.

The SVG is a reduced version of a much more complex file I have. It should say "DESMARAIS" in an arc. Instead I get characters all over the place.

The problem appears to be re

[2013-12-08 06:16] #34 closed, assigned to nobody

[2013-12-08 06:16] #18 closed, assigned to nobody

[2013-12-10 17:59] christianmeichtry opened #36 "Only part of SVG showing"
I tried to use this with Highcharts export server. The following SVG does show some text with prawn, but no pie chart. Any way I could get this to work ?

[code]

[2013-12-16 19:46] #36 closed, assigned to nobody

[2014-02-03 14:42] practicingruby opened #37 "Notes about Prawn 1.0 roadmap"
Hello!

Thanks for building an extension to Prawn. I'm filing this issue to let you know that we're currently working towards a stable 1.0 release of Prawn, and I want to invite you to be part of the discussion around that.

We will only have one more major release before 1.0 is shipped: it will be labeled 0.15 and it will be cut on 2014-02-16.

The functionality of the 0.15 release will be largel

[2014-03-03 12:05] shakirshakiel opened #38 "Not able to render embedded images in svg"
Hi,

I am using the master branch in prawn (fce4a08590d6c4def703a5782f03396f85f06f16). When I am trying to render image02_base64.svg given in the specs, I get the error: "TypeError: no implicit conversion of Prawn::Svg::Parser::Image::FakeIO into String"
And the stacktrace is as follows:

[code]

Can you please help me on this ?

[2014-03-05 20:28] #38 closed, assigned to nobody

[2014-03-06 04:52] #37 closed, assigned to nobody

[2014-03-28 22:34] kwerle opened #39 "Prawn 1.0 status?"
What's the status of integrating with Prawn 1.0?

[2014-04-05 00:46] #39 closed, assigned to nobody

[2014-04-07 16:10] kwerle opened #40 "Path with stroke: none getting next stroke color."
The following SVG (bad.svg) is rendering incorrectly:

[code]

The 'domain' line is being stroked with the 'cantilever' stroke color.  It should not show the domain line (http://jsfiddle.net/vF8zV/1/)

The following script will render 'bad.svg' to 'out.pdf':

[code]

[2014-04-27 09:22] cheba opened #41 "System fonts"
I have a problem with prawn-svg adding system fonts to the font registry.
It's hard to come up with a short description of the problem. Sorry.

So I have defined a few fonts in my script like this:
[code]

Note a few things about the above code:
* I refer to the font by it's real name
* I assign different weights than font designer initially intended. This is governed by the page design. To omit s

[2014-05-04 08:46] mojavelinux opened #42 "Misalignment when viewBox min-y is negative"
When the min-y value of the viewBox is negative, the SVG parser does not properly calculate the alignment of the graphics. An example of this problem can be seen with the SVG output from MathJax. The SVG renders properly in desktop viewers and editors (e.g., Inkscape, eog, Firefox), but it does not render properly in Prawn / Prawn SVG. Instead, it gets placed well above the cursor position and as

[2014-07-05 09:53] #40 closed, assigned to nobody

[2014-07-05 09:54] #42 closed, assigned to nobody

[2014-07-29 14:14] tmaier opened #43 "Not anymore compatible with prawn 0.12.0?"
With the following gems

[code]

and the following code in my pdf report

[code]

I get the pdf generated successfully, but the logo does not show up.

When I downgrade `prawn-svg` to 0.15.0.0, everything works as expected.

[2014-08-01 00:32] ioquatix opened #44 "Pedantic but.. perhaps rename module "Svg" to "SVG""
Since SVG is an abbreviation, technically it should be upper case, e.g. "PDF" vs "Pdf".

[2014-08-12 13:28] jerryjohnjacob opened #45 "Conversion of SVG file to PDF rendering incorrectly"
I tried converting a whole SVG file into PDF, but the result was incorrect. Only a small portion of the image was visible and it was at the very bottom of the page.

This is the method I tried:

[code]

What could be the matter?

[2014-09-19 09:02] jeanquisquall opened #46 "Issue with rect.width = 0 and rx/ry"
Hi,

there is an issue with generated pdf from a svg with "empty" rect and rx/ry: everything after this element is not shown in resulting file.
More specifically, OSX Preview does render pdf correctly, but Adobe Reader raises an error when opening the file and chrome viewer has the same issue.

Here is the original svg:

[code]

With OSX Preview:
![screenshot_preview](https://cloud.githubuserconte

[2014-09-19 09:39] jeanquisquall opened #47 "Issue with path: FloatDomainError: NaN"
Hi,

we have a crash when trying to generate from what initially was a piechart.
The stack is:

[code]

Here is the reduced svg (just a slice of the pie):

[code]

Thanks!

[2014-09-19 20:46] #47 closed, assigned to nobody

[2014-09-20 11:42] #46 closed, assigned to nobody

[2014-09-20 11:44] #44 closed, assigned to nobody

[2014-09-20 11:44] #45 closed, assigned to nobody

[2014-11-03 00:07] mojavelinux opened #48 "Don't show hidden graphic layers"
If a graphic layer is hidden using `style="display: none"`, it is currently showing in the PDF. prawn-svg should not show (perhaps by dropping) any layer (or element within a layer) that is marked with this style.

Here's a sample SVG to test. It has two `<g>` elements, one that is hidden and one that is visible. Only the visible graphic should be present in the PDF.

[code]

Here's the Prawn code

[2014-12-19 08:55] nicesw123 opened #49 "SVG vector image: arrow-head not displayed"
Hi!

The following `sample.rb`:
[code]

does **not display the arrow-heads** in the SVG image.

**Source of the SVG `arrows.svg`** (for copy-pasting):
[code]

(Issue originally filed at asciidoctor-pdf [ref](https://github.com/asciidoctor/asciidoctor-pdf/issues/75), which uses prawn)

[2014-12-21 00:39] #43 closed, assigned to nobody

[2015-01-20 22:20] mikevm opened #50 "Issue with path: FloatDomainError: NaN"
This problem seems similar to https://github.com/mogest/prawn-svg/issues/47 .  However I have upgraded my gem to 0.16.1 and the problem persists.

I have produced an SVG document using highcharts javascript library and prawn_pdf fails to render it.  I have cut the document down to the path that causes the failure.

[code]

[code]

I can post my entire SVG document if necessary.

[2015-01-21 21:02] mikevm commented on #50
i was able to make the problem "go away" with this:
[code]

But I didn't know if this would eliminate some expected functionality, like using `A` to draw a complete circle.

[2015-01-22 22:01] raymondd222 opened #51 "Not respecting xml:space="preserve" attribute on text nodes"
If you have an SVG with spacing in the text, and you need it to retain that spacing, Prawn SVG currently strips all the spacing in text nodes, whether or not this attribute is set.

[2015-01-24 07:24] #50 closed

[2015-01-24 07:24] mogest commented on #50
Thanks for the report and for the solution.  The SVG spec helpfully says:

So I think your fix is exactly on the money.

[2015-01-24 07:27] mogest commented on #51
Hi @raymondd222, thanks for raising the issue.  Would you be able to give me a block of SVG that correctly renders in a browser, but not with prawn-svg?

[2015-01-24 07:33] #48 closed

[2015-01-24 07:36] mogest commented on #49
I'll leave this issue open for a few months; it's the first time anyone has reported its absence, but if I get some downtime I'll give it a bash.  Cheers.

[2015-01-24 09:41] mogest commented on #43
Hmm, I can't replicate that @tmaier.  Downgraded to prawn 0.12.0, popped the svg in the test suite and ran it against the latest prawn-svg, and it renders like this: http://seriousorange.com/psvg-sample.svg.pdf.

Happy to help out if you'd like to further diagnose the problem.

[2015-01-28 18:29] raymondd222 commented on #51
Any svg with whitespace in a text node, try this one:

<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" width="422.859375" height="372.859375" viewBox="-25 0 422.859375 372.859375" xmlns="http://www.w3.org/2000/svg"  xml:space="preserve"><g transform='matrix(1.23055899339934 0 0 1.230558993399

[2015-02-06 17:24] vanboom opened #52 "centering image in page"
Would it be possible to add an align option to allow :left | :right | :center justification of the image in the page?

Thank you thank you thank you!  Great gem!

[2015-02-06 17:31] vanboom commented on #52
I just figured out... we can align by fixing the width then calculating the X position.   So the :align option would only be necessary if you want to support auto-sized images.

[2015-03-11 16:57] grignani opened #53 "Prawn 2.0.0 support"
Hi @mogest. Any plans to upgrade prawn-svg to support prawn 2.0.0, which came out in February?

Thanks!

[2015-03-11 19:33] mogest commented on #53
Sure, done in 9ea7109.

[2015-03-11 19:33] #53 closed

[2015-04-29 02:48] gembin opened #54 "SVG is not correctly rendered"
Please see issue here: https://github.com/asciidoctor/asciidoctor-pdf/issues/102

[2015-04-29 03:20] mogest commented on #54
Hi there, @gembin.

Could you supply the SVG that is rendering incorrectly, please?

I can tell you straight away that some features that your image appears to use, such as arrow markers, are not supported by prawn-svg.  You are more than welcome to implement them, however!

I would imagine that the yellow boxes should work fine, though.  If you give me the SVG I can take a look as to why it's not

[2015-04-29 08:34] gembin commented on #54
@mogest, here is the [SVG file](https://gist.githubusercontent.com/gembin/627ab37327878d4d2d06/raw/f23842d0bcee21ef95625d5f7089b9b66b8311fc/gistfile1.svg).

I'm not quite understand how prawn-svg works,  know nothing about ruby :-(.

[2015-04-29 10:46] mogest commented on #54
Fixed in 2963544 and released gem 0.17.0.

Turns out it renders pretty well!  Just doesn't have the boxes' drop shadows.  Thanks for reporting it!

![screen shot 2015-04-29 at 10 45 21 pm](https://cloud.githubusercontent.com/assets/23133/7389383/72f989f0-eec1-11e4-8926-fe438bacfe1f.png)

[2015-04-29 10:46] #54 closed

[2015-04-29 14:16] gembin commented on #54
That's great! thanks.

Is it possible to have the drop shadow working? and also the two vertical lines should be `dashed` instead of `solid`.

[2015-04-30 10:08] mogest commented on #54
Unfortunately those are features not supported by prawn-svg at this time.  You might want to find a friendly ruby person and encourage them to implement them!

[2015-05-02 05:42] mogest commented on #51
Sorry @raymondd222, if you want me to help fix the problem you're experiencing, you'll need to give me an SVG that replicates the problem otherwise I'll close this issue.

[2015-05-02 11:22] mogest commented on #54
@gembin, I had a bit of free time in my weekend so implemented dashed paths and released a new prawn-svg gem.  Hope you enjoy.

[2015-05-02 11:28] mogest commented on #49
@nicesw123, I took a look at implementing marker today, but it'd be a huge task to do it and it's not been requested very often.  I don't think I'll get around to doing it, as there are other features missing that are both easier to write and higher up the list.  But if it's something you really want, you might be able to convince someone to write it!

Will close this issue for now.  I appreciate

[2015-05-03 08:31] gembin commented on #54
Awesome!!!  Much appreciated for your great work!

[2015-05-03 23:01] raymondd222 commented on #51
[code]

[2015-05-24 01:20] mojavelinux commented on #52
I still think it would be worthwhile to support centering within the bounding box to align with the `image` method in Prawn.

Here's the logic I currently use:

[code]

Of course, it depends on knowing the width in advance.

[2015-05-24 10:44] mogest commented on #52
In most use cases of prawn-svg I've seen, the implementor has wanted to place it exactly at a certain place on the page.  I'm open to the idea of adding an `align` option that does exactly what your code does, though.  I'd leave it defaulting to `:left`.  Thoughts?

[2015-06-06 04:31] mojavelinux commented on #52
@mogest the default option should definitely be left.

Oddly enough, Prawn use the attribute `:position` for images instead of align. Perhaps Prawn SVG can “align” with Prawn core (or perhaps allow either key name). Keeping consistent with core allows the same configuration parameters to be used for either raster or SVG formats.

As for the requirements of implementers, I can say with certainty th

[2015-06-06 04:35] mojavelinux commented on #52
While we're talking about alignment, it might be nice if `:at` isn't required. It should default to the calculated position, with `:left` as the default, like Prawn's built-in image function. See https://github.com/prawnpdf/prawn/blob/master/lib/prawn/images.rb#L110-L115.

[2015-06-06 04:35] mojavelinux commented on #52
Can we reopen the issue since we're reconsidering this feature now?

[2015-06-08 08:45] mojavelinux commented on #52
Thanks! If you need assistance, just let me know. Cheers!

[2015-06-08 10:28] mogest commented on #52
If you wouldn't mind having a look at the commit, I'd appreciate it.

Specifically, I've decided not to floor the centered position; I think Prawn and PDFs deal fine with floating point numbers.  Anything I should be worried about that you know of?

[2015-06-09 00:17] mojavelinux commented on #52
Looks great to me!

floor isn't necessary. I can't really remember why I added that except maybe I was testing something and left it in there :)

Any chance we could get vposition next? I'll file an issue if you +1 the idea.

[2015-06-09 01:34] mojavelinux opened #55 "Incorrect height if only viewBox is specified in SVG"
If only the viewBox is specified in the SVG, but no explicit width and height, Prawn SVG is not calculating the output height correctly (or, at least, it's not doing what I would expect). Instead of scaling the height read from the viewBox by the same amount as the width, it is scaling the available height on the page. As a result, a gap appears between the image and the next content.

Consider th

[2015-06-09 10:26] mogest commented on #52
Done, built and released 0.19.0.

[2015-06-09 10:26] #52 closed

[2015-06-09 11:15] mogest commented on #51
Thanks for your report, this will go into the next release.

[2015-06-09 11:15] #51 closed

[2015-06-10 09:05] mogest commented on #55
After experimenting a bit, I think this approach wasn't the right one.

From http://www.w3.org/TR/SVG/struct.html#SVGElementWidthAttribute:

It's the same for height.  I'll make that change now.

[2015-06-10 10:38] mogest commented on #55
This "fix" actually makes your issue above a lot worse (!), as it centres the unspecified width/height SVG in the middle of the page.  But I think if you don't specify a :height to the Ruby svg call, and you don't specify a height in the SVG, the spec is pretty clear that it should assume height="100%", and the only thing we have to go on to measure against is the bounds height.  Now, at least, it

[2015-06-11 02:36] mojavelinux commented on #55
I agree with some of your conclusions and disagree with some others. I'll explain.

You are totally right that if a width is not specified in the image, and not passed to the `svg` method, then the width should equal the bounds width (100%). I'm in 100% agreement there.

With that said, the height still needs to be calculated in a way that respects the aspect ratio of the image. That aspect ratio,

[2015-06-11 02:37] mojavelinux commented on #55
One way to verify that we have the right behavior is to check that square example I cited and make sure we aren't getting a gap under the image. If we have a gap under a square image, we are doing something wrong ;)

[2015-06-11 08:15] mogest commented on #55
I've just done some experimentation using Chrome with SVG inside HTML, as I guess that's the closest thing we have to go off, and the specs don't enlighten me as to what the right thing is to do.

Interestingly, if you specify width="100%" height="100%" on the svg tag, it behaves differently than as opposed to leaving them out altogether!  If you just render the SVG, without it being in HTML, it r

[2015-06-11 09:58] mogest commented on #55
OK, how does this seem to you?

With your example code, you'll get a 250x250 sized box, and the text will be directly underneath!  If you take out the :width parameter to the svg call, it makes a 540x540 sized box, and yep, text appears underneath.

If you take out the viewBox, well, you get a 100x100 box in a 300x150 space.  I think at this stage, you are just being a mean developer and you shoul

[2015-06-14 08:09] mojavelinux commented on #55
Sweet!!! That is rocking! I can't wait to upgrade Asciidoctor PDF to use it. This is definitely making our next release.

I totally agree. I don't even know what an SVG is without a viewBox. I think most SVG designers would consider that to be invalid syntax.

[2015-06-20 21:23] mogest commented on #55
Thanks for your help!

Released in version 0.20.0.

[2015-06-20 21:23] #55 closed

[2015-06-21 02:59] mojavelinux commented on #55
Excellent! I'll upgrade Asciidoctor PDF tonight. Woot!

[2015-06-22 05:36] mojavelinux commented on #55
Updated! Also, thanks for creating the tag.

[2015-06-22 07:19] mojavelinux opened #57 "Allow text-anchor attribute to be inherited from <g>"
Many SVG badges used by services (e.g., Travis, Bintray, etc) set the `text-anchor` attribute on the `<g>` element that encloses the `<text>` elements so that it only has to be set once. Prawn SVG is only looking for this attribute on the `<text>` element itself. As a result, the text is not aligned properly.

The text-anchor setting should be stored in the element state so that it can be inherite

[2015-06-22 07:19] mojavelinux commented on #57
I plan to submit a PR. Stay tuned.

[2015-06-22 08:03] mojavelinux opened #59 "Ignore shape with url() fill"
Ignore the request to draw a shape (rect, circle, etc) if the fill value is a url() reference. This usually indicates an intent to fill a gradient, which Prawn SVG does not support.

As it is currently implemented, the shape gets filled with black (the default fill_color), which ruins many SVGs...in particular service badges.

[2015-06-22 10:48] #57 closed

[2015-06-22 12:12] mogest commented on #59
I've taken a different approach to your issue, and implemented what the spec asks for (which happens to be what you were after too.)  Check my commit comments; I think that should solve the problem.

[2015-06-22 18:18] mojavelinux commented on #59
That works great! Thanks for taking the time to develop the proper implementation.

I'm happy to say that shields / badges (like http://shields.io/) now rendering correctly. This is going to make a lot of people happy :)

[2015-06-24 03:45] andyweiss1982 opened #61 "NoMethodError (undefined method `-@' for nil:NilClass):"
Hello, I am rendering a PDF that includes an SVG with the following code:

[code]
This is the xml output of @chart.svg:

[code]
The PDF renders fine in Chrome, Safari and Firefox.  However, in IE11 I get the following error:

NoMethodError (undefined method `-@' for nil:NilClass):

The stack trace points me to:

/vendor/bundle/ruby/2.2.0/gems/prawn-svg-0.18.0/lib/prawn/svg/element.rb, line 85

If

[2015-06-24 03:54] andyweiss1982 commented on #61
I should add the following from my Gemfile.lock

[code]

[2015-06-24 05:30] mogest commented on #61
Hi @andyweiss1982.  You might have to help me out a bit more about this one.  prawn-svg doesn't run in browser, it just takes svg and renders a pdf.  So the browser you're using to display the pdf output is not connected with the error.

The error you've provided looks very odd.  Can you give me more details around the environment that you're running prawn-svg in (looks like OS X?) and whether the

[2015-06-24 05:31] mogest commented on #61
Also I might note that your Gemfile.lock says it's running prawn-svg 0.20.0 but the path in your stack trace indicates 0.18.0.  Something odd is up...

[2015-06-24 05:31] #59 closed

[2015-06-24 11:30] joshRpowell commented on #61
@mogest I'm working with @andyweiss1982 on this project.
here is our full trace (we had updated to 0.20.0 but sent you an old error):

[code]

[2015-06-24 11:34] joshRpowell commented on #61
we are calling prawn-svg at this point in our trace:

[code]
this is the code @andyweiss1982 referenced in the first issue note
[code]
here are the environment details:

[code]

[2015-06-24 11:55] #61 closed

[2015-06-24 12:00] mogest commented on #61
I've released a new gem version 0.21.0 with the bugfix (and a few other new features.)

Turns out you probably had a transform="translate()" with only one argument (even though your sample code that you pasted above doesn't exhibit that.)  The SVG spec says that's OK, and that it should assume the Y position is 0 if not specified, but prawn-svg didn't do that and instead unceremoniously crashed.

[2015-06-24 12:25] joshRpowell commented on #61
@mogest that fix worked! thank you very much for your prompt attention and great work with this gem!

[2015-06-24 12:56] andyweiss1982 commented on #61
@mogest thank you for the fast response!

[2015-06-24 23:25] mojavelinux opened #62 "Add support for linear gradients"
Add support for the linear gradient fill.

Many diagramming tools output shapes using linear gradients. In order for these diagrams to look right in the PDF, prawn-svg will need to apply the requested linear gradients. I'm sure there are many other use cases for linear gradients, but this one seems to come up the most.

Here's one such example:

https://github.com/openEHR/spec-publish-asciidoc/blo

[2015-06-25 02:59] raymondd222 commented on #51
Thanks, that's awesome!

Sent from my iPhone

[2015-06-25 09:16] mogest commented on #62
I've been working on gradients the last two nights, actually.

Prawn does support gradients, but very badly.  The co-ordinates you pass the fill_gradient method are absolute co-ordinates on the page, and not affected by any scaling, translation or rotation that's done in user space.

That's just how PDF works, although there are two options to get them into user space: XForm objects (apparently, I

[2015-06-25 09:26] mojavelinux commented on #62
Wow! The devil is always in the details, isn't it?

Hopefully, PDF will reveal some secrets that you can tap into. I'll try to grab some interest in this issue to see if it helps uncover more research. I'll try to help in anyway I can.

[2015-06-27 04:58] mojavelinux opened #63 "Add a max_width option to constrain the maximum width of an image"
Add a max_width option to constrain the maximum width of the image to a fixed size. This option is only used if the width (explicit or calculated) is greater than this value. This option makes it possible for an application to constrain the width of all images to a predetermined bounds (such as the width of the page) without needing to know the details of any given image.

Example:

[code]

[2015-06-27 05:01] mojavelinux commented on #63
Here's how I'm currently handling this in a post-processing step (to give you an idea of how it would work):

[code]

However, it would be better if this could be handled internally.

[2015-06-29 16:29] art-solopov opened #64 "Is inline style tag supported?"
My SVG:

[code]

My Ruby script:

[code]

The result:
![screenshot - 29 06 2015 - 19 28 40](https://cloud.githubusercontent.com/assets/5079987/8412817/1be448a4-1e95-11e5-9c9a-9065f77b280d.png)

P. S. Both Firefox and Inkscape display/convert the pic just fine.

[2015-06-30 08:10] #64 closed

[2015-06-30 08:11] art-solopov commented on #64
Oops, sorry for not testing it properly.

[2015-06-30 08:12] mogest commented on #64
Hi @art-solopov.  You shouldn't wrap your CDATA tags in /* */, is the real answer; SVG is by definition XML, and therefore any SVG parser must necessarily implement CDATA sections.

Given that browsers are pretty lenient, and I strive to render anything that browsers can, I've made prawn-svg handle the stray "*/" string.  Before the next gem is released you might just want to remove the comment th

[2015-06-30 08:18] art-solopov commented on #64
@mogest I'll do just that, thank you! I was misguided by MDN. ^_^

[2015-06-30 08:59] mogest commented on #63
I'm not super convinced about this one.  Is there a use case for having a max_width that's anything except <tt>bounds.width - x</tt>?  Don't want to add options just for the sake of adding options.

[2015-07-01 06:37] mojavelinux commented on #63
I have a reasonable use case in mind. I'll follow up with the details shortly.

[2015-07-05 10:18] mogest commented on #62
Progress update: I've prototyped a fix to prawn so it will render gradients correctly.  See https://github.com/prawnpdf/prawn/issues/891.  Waiting to see whether I get any comments about my approach before submitting a PR.

With that fixed, it'll be easier to implement them in prawn-svg.  Is going to be a pain having to calculate the bounding box for everything prawn-svg can draw, though!

[2015-07-05 23:01] mojavelinux commented on #62
Fantastic! Thanks for the update. I'm following the progress with great anticipation.

[2015-07-08 07:51] mogest commented on #62
Hey @mojavelinux, I haven't dealt with the new prawn maintainers before.  Are they likely to respond to the issue, or should I just go ahead with the PR?

[2015-07-17 08:00] mojavelinux commented on #62
@mogest The new maintainers, and in particular Evan, are quite responsive and willing to learn what is necessary to address issues in Prawn. I'd recommend moving forward with the PR as that seems to get the conversation focused on the scale of the change.

I'm really excited about these improvements because it's refreshing part of the code that seems to have gone dormant.

[2015-08-15 12:01] mogest commented on #62
Basic support implemented in 5c7fb8ab1c80cb862e9db765508490e80860585d!

I'll wait until Prawn 2.0.3 gets released (assuming the second PR gets accepted before then) and then I'll release a new prawn-svg.

[2015-08-16 06:53] mojavelinux commented on #62
I'm really excited about this! It's going to open a lot of doors for document authors. I'm very grateful for your contributions to Prawn. Thanks!

[2015-08-17 19:55] notjosh opened #65 "Separate SVG parser into standalone library"
Hi! I stumbled on the project, and it seems really promising and cool. Great work so far!

I don't need PDF writing, nor do I care much for Prawn. However, I'd really love to have a standalone SVG parser in Ruby. (I want to write out to other format/s.)

I think it's feasible to break `prawn-svg` into two components - one to read the SVG into its core elements (which can exist standalone!), and on

[2015-08-17 21:33] mogest commented on #65
Hey @notjosh.  Yeah, I structured it in two parts so that the element renderer didn't know anything about prawn.  It builds a call tree in memory, and then executes the call tree in the prawn interface.  But the calls are prawn-specific at the moment; I didn't think there was much benefit to invent an entirely new intermediary language.

A lot of the processing it does is specifically to get it in

[2015-08-18 11:11] notjosh commented on #65
Yeah! Even though it's not prawn-specific, it's still very married into PDF and flattened. The result is a flat call tree, with no hierarchy. I need/want that hierarchy! :)

And then, different readers should be able to parse the attributes however the destination format needs it. i.e. if the node tree kept the `path` element attributes, then the PDF reader could parse into bezier curves, but othe

[2015-08-18 11:16] mogest commented on #65
Aha!  I understand what you're after.  Coincidental that I only set up this new element structure a week ago, huh.

Leave it with me for a bit, I'll see what I can do.  Got any particular time constraints on your side?

[2015-08-18 11:36] notjosh commented on #65
Cool!

Nothing _super_ urgent, but we're shipping something in the next couple of weeks that could benefit. It's not a blocker though, so whatever works for you :) Happy to offer up time, too, but I feel I'd be treading on your toes.

[2015-08-20 08:13] mogest commented on #65
Let me have a bash at it first.  Probably won't be release-ready in two weeks, but we'll see how it goes.

[2015-09-23 13:56] isaacseymour commented on #41
Sorry to jump in a year late, but I've just run into the same issue. Changing that line resolves the issue. Pull request incoming!

[2015-10-06 15:47] inyerade opened #67 "undefined method `svg' for #<PrawnRails::Document:0xbcb05d08>"
Hi

I have problems with `svg` instruction. The following code give me `undefined method 'svg' for #<PrawnRails::Document:0xbcb05d08>`

But without `pdf.svg` works fine. Any idea?

file `Gemfile`
[code]

file `Gemfile.lock`
[code]
file `show.pdf.prawn`
[code]

[2015-10-06 22:32] inyerade commented on #67
With this almost work but the pdf ceated is in Rails.root directory and do not apear in the browser.

[code]

Wich path I have to write to get the pdf in the browser or wich argument I have to write?

[2015-10-08 10:11] mogest commented on #67
Hi @inyerade – these are questions that would be best answered by the prawn-rails community; it has nothing to do with prawn-svg.  Good luck!

[2015-10-08 10:11] #67 closed

[2015-10-08 10:12] #41 closed

[2015-10-28 12:32] abradshaw commented on #49
Hi, I am running into this issue (arrow heads missing) from my documentation creation process. My process involves writing in asciidoc, with links to the source SVGs, then converting into a PDF. prawn-svg is involved in this process and I have noticed that the arrow heads are missing from my diagrams

[2015-10-30 05:54] mogest commented on #49
Hi @abradshaw – prawn-svg doesn't implement a considerable amount of the SVG spec, and I don't really want to have issues open for every feature it doesn't support; there'd be thousands of them!

If you're willing to implement markers, I'd be more than happy to accept a PR.  Or if enough people +1 this issue, I guess it'll be the next thing I chew off, but it's going to be a very complex implement

[2015-11-04 20:56] notjosh commented on #65
Did you make any progress with this? I've hacked on a branch and totally destroyed the Prawn integration, but the SVG tree is nice and independent. I'm writing it out to generate paths for drawing on iOS now - it's really cool! :)

[2015-11-26 09:55] mogest commented on #65
Sorry I didn't.  I sat down one afternoon and started to map out what needed to be done, and then just stopped when I realised what I'd need to do to maintain backwards compatibility as well as do a good job of it!  Possible but time consuming...

That's great that you hacked it up to work though!  I'll keep it in mind in case I have an urge to do a really huge refactor one day (and will keep this

[2015-12-07 15:28] shevegen opened #69 "Add an example please"
Hello.

The readme at:

    Prawn::Document.generate("svg.pdf") do
      svg svg_data, :at => [x, y], :width => w
    end

Does not work as-is because svg_data and w and x,y are not defined.

Could you provide a full example? I know a bit about prawn but nothing about prawn-svg; I failed to get this to work.

[2015-12-14 09:40] ameuret commented on #69
[code]
But as the README implies, the options have sane defaults that should show your svg rendering if omitted. If you do not see anything, check your coordinates and dimensions, and use `stroke_axis`.

[2016-03-03 03:43] yarving opened #70 "How can I place 2 svg file in one row?"
Why cann't I find any document of this prawn-svg?

[2016-03-03 20:27] mogest commented on #70
Hi @yarving.  You place them as you place any other prawn element.  I think you just need to pass in `x` and `y` arguments to the svg call saying where you'd like the SVG placed.

Please use community Prawn support forums if you've got any further questions; github issues are for issues with the code.  Thanks.

[2016-03-03 20:27] #70 closed

[2016-03-03 20:29] mogest commented on #69
Thanks for answering, @ameuret.

[2016-03-03 20:29] #69 closed

[2016-03-03 20:30] mogest commented on #63
Hi @mojavelinux - do you want to proceed further with this one?

[2016-03-07 13:29] yarving commented on #70
@mogest Thanks, I record the `x` before inserting the first graph then give it as the parameter to the second can make that.

Thank you, I got the rule now.

[2016-03-08 18:41] AlexanderZobkov opened #71 "Add support for file: schema for xlink:href attribute in image elements"
When preparing a SVG file in graphical editors (for example, Inkscape), embedded raster images usually presented by image elements that refers to actual image by using "file:" schema. For example: xlink:href="file:///<absolute path>" or xlink:href="file:<relative path>". Relative paths are resolved agains a path where the svg file is located.
Schemas like "http(s):" are not always can be used due

[2016-03-08 21:39] mogest commented on #71
Hi @AlexanderZobkov.  Are you willing to make a pull request for this change?

The only suggestion I'd make is that the file schema would have to be explicitly turned on using an argument to the svg call to prevent disclosure attacks, preferably by specifying a root path that files can be included from.

[2016-03-11 13:24] AlexanderZobkov commented on #71
No, at the moment. I've came across to this feature when working on asciidoctor-pdf based documentation and trying to align a title page with my company requirements. Title page should include a couple of vector and bitmap elements. And I was surprised to found that I need to encode bitmaps into base64 and embed into a SVG file. If I'll not be able to embed bitmaps into the SVG file, probably I'll

[2016-03-12 09:01] mojavelinux commented on #63
I have to refresh my memory. I'll look into it this weekend. I trust my notes that says there's an important use case here :)

[2016-03-12 09:33] mojavelinux opened #72 "Parser crashes when color value is currentColor"
The parser crashes if currentColor is used as a color value.

[code]

The currentColor keyword should resolve to the value of the computed color style of the current element. See https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#currentColor_keyword for details.

At worse, the value should be ignored. However, since prawn-svg has access to the computed style of the current element, it s

[2016-03-17 09:07] mogest commented on #72
Thanks for reporting this one.

I couldn't get it to crash; I'd love an example that made it crash if you've got one.

In any case, I implemented an inheritable color attribute, as previously `currentColor` would only work if there was a `color` attribute set on the same element.

[2016-03-17 09:12] mojavelinux commented on #72
For the test case, see https://github.com/asciidoctor/asciidoctor-pdf/issues/407.

[2016-03-17 09:12] mojavelinux commented on #72
:+1:

[2016-03-17 09:22] mogest commented on #72
Hmm, it seems to work fine on 0.22.1, and in fact renders pretty much OK since the color attribute is specified on the same element as currentColor is used, in most cases.  Is asciidoctor using 0.22.1?

[2016-03-17 10:21] mojavelinux commented on #72
Asciidoctor PDF is currently on 0.21.0. I'm kicking myself now for not checking the latest version. I'm excited to hear that it's already resolved. \o/ I'll upgrade Asciidoctor PDF asap.

[2016-03-18 08:06] mojavelinux commented on #72
I can confirm that the upgrade resolves the issue. Thanks @mogest!

[2016-03-18 08:06] #72 closed

[2016-03-19 06:22] mojavelinux commented on #63
I dug into the Asciidoctor PDF code and it seems like the code has moved on since filing this issue. The situation turned out to be more complicated.

I think it still would be nice to be able to have the requested width and height shrink to fit the bounds if they exceed it.

However, there's another issue that arises, which could actually cover this case. The SVG needs to be loaded in order to ac

[2016-03-20 02:28] mogest commented on #71
I needed a bit of a break, and the UrlLoader code was in a bit of a bad shape, so did some refactoring and implemented your request.  It'll roll out in the next gem, and you can use it directly from the git repo until it does (master is generally pretty stable).

Let me know if you come across any issues.

[2016-03-20 15:16] AlexanderZobkov commented on #71
Thanks for implementing the request!

One comment, regarding 'enable_file_requests_with_root' option. IMHO, the name is confusing and can be renamed to 'file_schema_base_dir' since it's not a pure boolean option comparing to 'enable_web_requests' and 'cache_images' options.

Any schedule to release next version of the gem so that other projects would benifit from it?

My intention is to make this

[2016-03-21 01:43] mogest commented on #71
OK I'll have a think about the name.  Agree that it sounds unnecessarily boolean-y but I'm not a fan of 'file_scheme_base_dir' either.

I've just got a few big refactors going in too, just going to do a bit more work around them then will aim for a release sometime this week.

[2016-03-23 23:49] tk0221 opened #73 "return nil from attributes"
https://github.com/mogest/prawn-svg/blob/master/lib/prawn/svg/document.rb#L38
I was getting `nil` attribute from Line 38, due to https://github.com/mogest/prawn-svg/blob/master/lib/prawn/svg/document.rb#L24 its not properly generate `@root`

My testing environment was really simple, I followed example code on README. It would be better if there is nil checker.

[2016-03-23 23:57] mogest commented on #73
Thanks for the report @tk0221.  Can you give me an example of the code you used, please?  I don't have enough to go on here.

[2016-03-24 00:23] tk0221 commented on #73
![screen shot 2016-03-23 at 7 05 41 pm](https://cloud.githubusercontent.com/assets/5613513/14004816/157b5994-f12b-11e5-9977-0a5f2133231f.png)

Now I could able to create it, but that's what I got error message when I try to call `svg '~/my_local/picture.svg', :at => [0,0], :width => 100`

______________________________________
Can I ask something else?
1) Can I run this prawn-svg for multiple time

[2016-03-24 00:41] mogest commented on #73
Oh, right.  You can't pass a filename to `svg`, you have to pass SVG data.  I agree that the error message needs to be better.

As for your questions: 1) yes, 2) yes, 3) yes, as long as you've got prawn-svg as a dependency.

[2016-03-24 00:50] tk0221 commented on #73
Thanks for the answer :+1:

[2016-03-24 01:01] mogest commented on #73
No problems, thanks for letting me know about the weird error.

[2016-03-24 01:01] #73 closed

[2016-03-24 22:03] mogest commented on #71
I decided to stick with the existing option name as I wasn't happy with any of the alternatives and like the consistency between options.

Also 0.23.0 is released, so it's all yours.  Thanks for suggesting this feature!

[2016-03-24 22:03] #71 closed

[2016-03-30 08:12] afdev82 opened #74 "prawn-svg-0.23.0/lib/prawn/svg/font.rb:23: warning: circular argument reference - font_registry"
I got this warning while performing ```rake db:reset``` in rails.
Maybe adding ```self.``` to the default value could solve the issue.

[2016-03-30 08:32] #74 closed

[2016-03-30 08:33] mogest commented on #74
Uh that was a dumb typo! :star2:

Thanks heaps for reporting it.  I still couldn't get that warning message to appear, even on Ruby 2.3.  Gonna release a minor release in the next couple of days with a few fixes in it, so this will be in too.

Thanks again.

[2016-03-30 16:01] AlexanderZobkov commented on #74
I've noticed the same warning while integrating prawn-svg-0.23.0 in asciidoctor-pdf. Will wait for the minor release to continue. Good to know that the working is already fixed!

[2016-04-01 11:24] aleksejleonov opened #76 "warning: circular argument reference - font_registry (0.23.0 only)"
Hi,

After upgrade to **v0.23.0** I got next warning (**v0.22.1** was ok):

`/Users/alex/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/prawn-svg-0.23.0/lib/prawn/svg/font.rb:23: warning: circular argument reference - font_registry`

Ruby 2.3.0 + Rails 4.2.6.

[2016-04-02 21:33] mogest commented on #76
Thanks for reporting.  Duplicate of #74.

[2016-04-02 21:33] #76 closed

[2016-04-04 17:38] kastork commented on #49
+1

[2016-04-10 06:01] mogest commented on #49
I'm working on implementing markers now.

[2016-04-10 09:18] abradshaw commented on #49
Roger thats great news, I currently work arround the issue by manually drawing triangles at the end of my lines :) so it would be great if this was implemented

:+1:

[2016-04-10 09:23] mogest commented on #49
Hah, sounds like a pain!

If you would be able to attach a few sample SVG files with some markers—the more complex the better—that'll definitely help me figure out whether I've correctly implemented it or not.

[2016-04-10 09:30] abradshaw commented on #49
Hi Roger

Seems github doesnt support uploading of SVGs - so I zipped it

[rhev-console-access.svg.zip](https://github.com/mogest/prawn-svg/files/211699/rhev-console-access.svg.zip)

[2016-04-10 18:13] AlexanderZobkov commented on #49
I also would like to see this feature implemented.
At the moment, to preserve arrows and other elements that is currently not supported by prawn-svg, we convert SVG files into PNG file by using Batik maven plugin.

[2016-04-10 21:48] mogest commented on #49
@abradshaw, looks like it's working.  Although the arrows aren't rendered pointing in the direction of the curve, but the SVG renders like this on Chrome and Safari too, so I'm guessing it's rendering as intended?
[rhev-console-access.svg.pdf](https://github.com/mogest/prawn-svg/files/212024/rhev-console-access.svg.pdf)

[2016-04-11 05:12] mogest commented on #49
I've got an implementation that appears to be working in a branch at https://github.com/mogest/prawn-svg/tree/marker.  If anyone has the time and skill to try it out, I'd appreciate it.  Got a few tests I'd like to write for it before it goes into master.

[2016-04-22 15:57] wolandscat opened #77 "Text disappears in svg image rendered in PDF."
The SVG found [here](http://www.openehr.org/releases/AM/latest/docs/ADL2/diagrams/adl_text_overview.svg) renders in a PDF produced by asciidoctor-pdf (1.5.0.alpha.11), using prawn-svg 0.23.1 as coloured blocks, all positioning etc is fine, colours look correct, but just no text. This diag doesn't have colour gradients (at least I don't think it does), so I don't think that's the problem.

[2016-04-22 16:24] mojavelinux commented on #77
The problem is that this SVG uses the `<foreignObject>` element, which in turn embeds HTML. As far as I know, the `<foreignObject>` element is only supported in a web browser (web browser supports a hybrid version of the SVG spec which is technically not compliant). Not even Inkscape can open this document (which is a clear sign that prawn-svg isn't going to be able to handle it either).

You'll n

[2016-04-22 16:27] mojavelinux commented on #77
Interesting to note that `<foreignObject>` isn't supported by IE either.

[2016-04-22 16:28] mojavelinux commented on #77
From the SVG 2 draft spec:

[2016-04-22 17:35] wolandscat commented on #77
Ah.. I think what is happening here is that the SVG contains draw.io 'source' (some XML content that represents the diagram). This can be cleaned up in draw.io. I hadn't realised that this could affect rendering of SVGs - I haven't seen any fail on the web before due to this.

[2016-04-22 17:58] mojavelinux commented on #77
Exactly, because what a web browser can render is very different from what a conforming viewer can render. There are really parallel SVG worlds, in this sense. (one of the contemporary complaints about SVG).

[2016-04-22 18:05] wolandscat commented on #77
Right. So far, SVG has been a black box for me ...now I'm learning! Draw.io is pretty good, but its default of including the drawing 'source' in the export files is probably not that nice for various reasons - even just uselessly adding to page weight..... anyway, I'll test the fixed version and get back ASAP.

[2016-04-22 19:09] mojavelinux commented on #77
:+1:

[2016-04-23 07:35] mogest commented on #77
Thanks for your diagnoses, @mojavelinux. I think I'll implement `<switch>` so it ignores `<foreignObject>` blocks and renders the fallback content. At least the next person to run into this will (hopefully) have the fallback text to point them to what's happening.

[2016-04-23 08:35] mojavelinux commented on #77
I agree that's definitely the right strategy. Thanks!

[2016-04-24 00:56] #77 closed

[2016-04-24 01:13] mojavelinux commented on #77
Awesome!

[2016-04-24 05:07] mogest commented on #49
Released today as part of 0.24.0.

[2016-04-24 05:13] mogest commented on #62
Just an update: we're waiting on https://github.com/prawnpdf/prawn/pull/902 to go in and be released before this feature can go live.

[2016-04-24 05:45] mogest commented on #63
How does that code look to you, @mojavelinux?

[2016-04-24 06:28] mojavelinux commented on #49
:+1: I'll update asciidoctor-pdf to bring the request full circle.

[2016-04-24 06:40] mojavelinux commented on #49
In the example @abradshaw provided, I think the arrow is supposed to follow the direction of the arc. It renders incorrectly in Chrome, but Firefox, Inkscape, ImageMagick and eog all get it right. That tells me it should appear as follows:

![arrow-on-arc](https://cloud.githubusercontent.com/assets/79351/14765925/0e22a254-09b5-11e6-9436-024f6671a5b2.png)

[2016-04-24 06:43] mojavelinux commented on #49
Details here: http://stackoverflow.com/a/33384554/208063

[2016-04-24 08:30] mogest commented on #49
Looking much nicer now!  Thanks for pointing that out.  I'll roll a patch release tomorrow.

[rhev-console-access.svg.pdf](https://github.com/mogest/prawn-svg/files/233342/rhev-console-access.svg.pdf)

[2016-04-24 08:33] mojavelinux commented on #49
Very slick! You're a hero!

[2016-04-24 10:08] abradshaw commented on #49
Very cool - thanks so much guys

[2016-05-02 09:05] AlexanderZobkov commented on #49
It looks like theres are bugs in arrows support.
1) Adobe reader reports that pdf is broken
2) Arrows are not rendered correctly - arrow heads for a first line are not rendered but ok for a second line
[basic-example.pdf](https://github.com/mogest/prawn-svg/files/244747/basic-example.pdf)
[broken-arrows.svg.txt](https://github.com/mogest/prawn-svg/files/244759/broken-arrows.svg.txt)

Can we reopen

[2016-05-02 09:31] mojavelinux commented on #49
I see the missing arrows on the first line. However, I don't see an error when I open the PDF in Adobe Reader. What error are you seeing?

[2016-05-02 09:36] mogest commented on #49
I've located the problem, thanks for the report.  I don't have Adobe Reader, so please let me know how it's broken.

[2016-05-02 10:16] AlexanderZobkov commented on #49
Adobe Reader reports that pdf has errors and nothing more =(.
Instead of Adobe Reader, you can try to use Ghost Script to validate a PDFfile:

[code]

[2016-05-03 21:53] mogest commented on #49
Running that command on the pdf output of the sample SVG you supplied above doesn't generate an error; I think that error is being caused by something upstream from prawn-svg.  If you can provide an SVG that generates a malformed PDF I'm happy to have a look at it; please pop it on a new issue though.

I'll make a patch release for this fix in the next week.

[2016-05-04 15:19] AlexanderZobkov commented on #49
Hello Roger,

It might be misunderstanding here :smile:
Do I understand correctly that with changes provided in ee8622d the issue is gone and both arrows are rendered correctly?

[2016-05-04 21:15] mogest commented on #49
Hi @AlexanderZobkov – yes, the arrows correctly render!  Please see attached PDF.
[a.svg.pdf](https://github.com/mogest/prawn-svg/files/249602/a.svg.pdf)

[2016-05-05 14:38] AlexanderZobkov commented on #49
I've performed by own experiments, It looks like it's working now.
Thank you for fixing the issue !

[2016-05-20 19:38] AlexanderZobkov commented on #49
Hello Roger,

Is it OK for you to release the patch release? asciidoctor-pdf 1.5.0.alpha.12 will be released soon (probably this weekend) and I would like to upgrade version of prawn-svg to the latest one.

[2016-05-21 02:07] mogest commented on #49
0.25.1 released, sorry for the delay!

[2016-05-21 02:07] #49 closed

[2016-05-21 11:24] nicesw123 commented on #49
Hi!

@mogest
Thanks very much, for implementing this feature!!! Great.

[2016-05-23 17:58] abradshaw commented on #49
Guys - many thanks for this great work - really appreciated

[2016-06-09 12:31] RobWu opened #78 "Add support for prawn document #image-method"
Would be great if prawn-svg would be handle SVG for prawn "image"-method.

http://prawnpdf.org/api-docs/2.0/Prawn/ImageHandler.html

`Prawn.image_handler`

[2016-06-09 22:02] mojavelinux commented on #78
Agreed. I've had to monkeypatch this into Asciidoctor PDF.

https://github.com/asciidoctor/asciidoctor-pdf/blob/master/lib/asciidoctor-pdf/prawn_ext/images.rb

[2016-08-03 04:29] mojavelinux opened #79 "CSS property from a more specific rule should take precedence"
The CSS property from a more specific (i.e., stronger) rule should take precedence over the CSS property from a less specific (i.e., weaker) rule. This is not currently the case (at least in certain cases).

Consider the following example:

[code]

[code]

The text "Square" should appear in black (due to the fill property from text.role). Instead, the text appears in light gray, the same color tha

[2016-08-03 04:30] mojavelinux commented on #79
The workaround is to use a separate class name.

[code]

[2016-08-06 05:24] mojavelinux opened #80 "Font selection is sticky"
If the SVG uses a font (font-family, font-weight, or font-style), those settings getting applied to all subsequent text in the document (until the font is explicitly changed). The font selection should be local to the svg API call.

Here's an example that demonstrates the problem:

text.svg

[code]

test.rb

[code]

The after text should be in the same font as the before text. However, because the

[2016-08-06 05:30] mojavelinux commented on #80
The workaround is to enclose the call to the `svg` method in `save_font`.

[code]

[2016-08-06 23:31] mojavelinux commented on #80
To be clear, it's the last call to `select_font` that is sticky. Each time Prawn SVG draws text, it does a full font selection, so this doesn't impact font selection within the SVG drawable.

[2016-08-07 22:23] mogest commented on #79
Thanks @mojavelinux.  There are a few Ruby CSS parsers out there, but I can't find anything that applies CSS to a document, so I think I'm going to have to build that myself on top of css_parser.  It might be a while...

[2016-08-28 09:59] AlexanderZobkov opened #81 "Ghostscript reports a warning when svg includes an image"
Ghostscript tool is used for various purposes, including validation of PDF files that they are not corrupted and can be read by a PDF viewer.

The ghostscript tool reports the following warning when SVG  that was used to render into PDF included an image element.
[code]
It's reproducable (reproducer is attached) on Ruby 2.2.1 and Jruby 9.0.5.0 (2.2.3) with the following set of gems:
[code]

[test-

[2016-08-29 00:03] mojavelinux commented on #81
This seems to be a problem with Ruby 2.2.x. If I use Ruby 2.3.x, then I get the correct stream length.

I tested both versions of Ruby using the same gems, which was a fresh install of prawn-svg 0.25.1 only.

[2016-08-29 00:19] mojavelinux commented on #81
This problem is triggered when a raster image (jpg, png) embedded using the `<image>` tag is load.

The problem appears to be with the Prawn::SVG::Loaders::File. It uses `IO.read` to read the file of the embedded image instead of `IO.binread`. While Ruby 2.3 seems to figure out what to do, Ruby 2.2 does not. Whenever a binary file is read in, it needs to be done using binmode.

[2016-08-29 00:21] mojavelinux commented on #81
If I change IO.read to IO.binread in the following file, it fixes the warning.

https://github.com/mogest/prawn-svg/blob/master/lib/prawn/svg/loaders/file.rb#L56

(Of course, we need to select the correct mode based on the type of file being read).

[2016-09-08 16:44] mojavelinux opened #82 "Exception thrown if SVG contains italic text"
If the SVG includes text that has the font-style CSS property set to italic, Prawn SVG crashes. The crash occurs when Prawn attempts to invoke the `strip` method on a symbol.

Here's the problematic code in lib/prawn/svg/font.rb

[code]

[2016-09-08 23:07] #81 closed

[2016-09-08 23:07] mogest commented on #81
Thanks for the research, @mojavelinux!

[2016-09-08 23:39] mogest commented on #78
This is a great idea, @RobWu, but I took a look at how image handlers are implemented, and the system expects a single PDF object back.  It's built only for single-file image embeds, not a rich document like SVG, which is a shame.

I could monkey patch the prawn image method but I don't feel super comfortable about that approach.

Until someone extends Prawn's image handler system, I'm going to ha

[2016-09-08 23:39] #78 closed

[2016-09-08 23:43] #80 closed

[2016-09-08 23:43] mogest commented on #80
Thanks again @mojavelinux !

[2016-09-08 23:44] mogest commented on #82
Just left a comment on your commit; can you review please?

[2016-09-09 03:37] mojavelinux commented on #82
See reply in PR.

[2016-09-09 03:53] mojavelinux commented on #81
Sure thing!

The fix you added is consistent with the current implementation, which only supports image elements that reference a PNG or JPG file. Do you have plans to add support to the image element for SVG? If so, that's when we'd need to think about a switch to read the file as UTF-8.

[2016-09-09 04:17] mojavelinux commented on #78
I gather you're referring to the image handler extension point that prawn-gmagick taps into (see https://github.com/packetmonkey/prawn-gmagick/blob/master/lib/prawn/gmagick.rb).

I agree the extension point is too low-level. It should have delegated the entire inner implementation of the `image` method so the client can use a common interface, but the handler can completely take over control. As i

[2016-09-10 00:56] #82 closed

[2016-09-10 00:57] mogest commented on #63
@mojavelinux, I might merge this in too for the next release if you're happy with it?

[2016-09-10 01:09] mojavelinux commented on #63
Looks great to me!

[2016-09-10 01:27] mogest commented on #63
Cheers.

[2016-09-10 01:27] #63 closed

[2016-09-10 01:30] mogest commented on #82
0.25.2 gem pushed.

[2016-09-10 01:41] mojavelinux commented on #63
:beers:

[2016-09-10 01:42] mojavelinux commented on #82
Thanks @mogest!

[2016-09-11 10:26] mogest commented on #81
No plans to implement svg <image> tags for now; no-one's requested it. I did leave a comment in the header of the class to remind me that it needs to be extended when we load text content though.

[2016-09-15 12:00] tkfu opened #84 "prawn-svg fails on svgs generated by Google Drawings"
It's actually not all SVGs generated by Google Drawings, just ones that have images embedded. However, it's a very common use case for me: I make diagrams, and include an external icon or symbol or something. I'm attaching two nearly identical files: very-simple-google.svg is downloaded directly from google drawings, while very-simple-inkscape.svg is the same file, but opened in inkscape and saved

[2016-09-15 22:34] #84 closed

[2016-09-15 22:36] mogest commented on #84
Thanks @tkfu!  It was pretty simple in the end, Google uses scientific notation with a capital E, and I was only handling small 'e's.

The fix will go out with the next version, or you can target this commit in your Gemfile.

[2016-09-15 22:51] tkfu commented on #84
Thanks for the ultra-quick fix, mogest—It's very much appreciated! Also, I feel like there has to be a merit badge or something for fixing a bug with a single keystroke.

[2016-11-23 11:58] v3rmin commented on #62
According to the prawns changelog this should be possible to implement by now? All your pull requests have been merged?

[2016-11-23 21:05] mogest commented on #62
@v3rmin, yeah, the PR that was required was merged on May 14, but there hasn't been a release since March 😞

[2016-12-01 07:05] Nowass opened #85 "Some SVG images aren't render correctly"
Hi,

I use MS Visio for SVG images creation, but these images are not correctly rendered in generated PDF output. The problem is mainly with the multi-line text where all the lines are generated in one line. Other problems are the arrows at the end of the lines.

If the same (very similar) image is created for example in LilbreOffice Draw, the output is ok. I've tried a lot of other tools for SVG

[2016-12-01 08:00] mogest commented on #85
Hi Petr, sorry to hear you're having troubles with prawn-svg.  Would you be able to attach an example SVG file that shows the problems you're experiencing please?

[2016-12-01 08:21] Nowass commented on #85
Hi,
thanks for fast reply.

I've tried several svg outputs of one image exported from MS Visio, but none of them is working properly for me. Then the Visio drawing imported into LibreOffice Draw -> exported to SVG works (**_libreDraw.svg_**). See attachment.

P.S. the cleaned version is generated by the [SVG cleaner](https://github.com/RazrFalcon/svgcleaner-gui/releases)

[images.zip](https://gith

[2016-12-01 08:51] mogest commented on #85
Thanks Petr!  I've taken a look at the SVG output and found two bugs in prawn-svg:

1) This SVG specifies distance in `em` units, which prawn-svg doesn't support.
2) For some reason, prawn-svg is defaulting to `fill: black` instead of `fill: none` for some elements.  I've forgotten how this bit of the code works, but it should be a relatively easy fix.

I'll try to look into fixing these problems

[2016-12-01 10:18] Nowass commented on #85
Perfect! Sounds good :o)

Many thanks for your fast support!

Have a nice day.
**_Petr_**

[2016-12-03 03:35] #85 closed

[2016-12-03 03:38] mogest commented on #85
Turned out there were three problems, that has to be a record for a single SVG file!

I'd appreciate it if you could try it out by referencing prawn-svg directly from the github repo:

[code]

and let me know if you have any troubles with this one!  Thanks.

[2016-12-05 04:59] Nowass commented on #85
Hi,
I've just quickly played with your update and so far so good. I'll check it more deeply within today and let you know :o)

Many thanks for your quick support!
**_Petr_**

[2016-12-05 07:30] Nowass commented on #85
So I did more deep crosscheck on my other drawings, and I have to say that the multi-line problem is fixed and now it works perfectly.

but ... unfortunately, I found out other problems ...

in some of my drawings, the elliptical arc is not rendered correctly (see attached PDF). After several trials, I was able to find out the conditions which cause the problem. It always occurs , when the arc is

[2016-12-05 08:11] Nowass commented on #85
just a small update ... the second issue (zero length line) should belong to prawn module ... so it is not for you :o)
**_Petr_**)

[2016-12-05 08:13] mojavelinux commented on #85
@Nowass we could patch that in Asciidoctor PDF.

[2016-12-05 08:22] Nowass commented on #85
@mojavelinux this would be great!
I already put a comment here:

https://github.com/prawnpdf/prawn/commit/e65c24411c451918718a8e8cb35631c98ccc5517

so I hope I didn't create too many mismatches :-)

Thanks!
**_Petr_**

[2016-12-16 22:25] mogest opened #87 "Scaled arcs do not appear correctly"
As reported by @Nowass in #85.

[2016-12-16 22:26] mogest commented on #85
I've created a new issue for the scaled arcs not appearing correctly, #87, and will take a look when I can!  Thanks.

[2016-12-19 14:55] Nowass opened #88 "Font size within teh SVG image is rendered wrongly, if the input size unit is *em*"
Hi,
I've just figured out, that when the font size unit, within the SVG image, is em, then the font size in output PDF is wrong.

Attached are two SVG pictures ... the same picture once with the font size 0.75em and then with font size 9pt. These values should be equal (based on this [converter](http://www.convertunits.com/from/pt/to/em)), but the output PDF is rendered differently.
The output wit

[2016-12-21 00:15] mogest commented on #88
Hi.  Looking at these two SVGs as rendered by Chrome, they have two different sizes, the same as prawn-svg displays!

Looking at the source, I can see why they should all be displaying in 9pt.  The fact that Chrome isn't doing that is pretty suspicious.  Could you do some more digging for me please?  I aim to render like Chrome, unless where I can prove Chrome doesn't meet the SVG spec correctly.

[2016-12-21 08:30] Nowass commented on #88
Hi,
thanks for your feedback ... I did another crosscheck, and frankly speaking in my case, the PDF output is different than the Chrome one.

In my case, the only "correct" (or at least the same as from Inkscape, which I use as a reference) output I get with **pt** units. From this trial it seems that the font with size **1em = 12pt = 100%** is generated correctly in most cases (only px unit fails

[2016-12-21 08:35] Nowass commented on #88
One comment, just to get clear understanding ... my goal is to use **em** units. The **pt** I just use for such "workaround" ...

[2016-12-21 08:49] mogest commented on #88
1em is 16pt by default, and 1px = 1pt in PDF land.  In your test files, you have a class applied to the top level <svg> element that sets the font size to 12pt, in both files.  In theory, this means using 0.75em inside that tag will get you 9pt text, because `em` is relative.  But looking at the files you've attached above, Chrome is rendering the 12pt and 1em text at totally different sizes, the

[2016-12-21 09:12] Nowass commented on #88
well .... now I am a bit lost and confused ... let's forget the pt amd any other units and focus just on the **em** ...
The file with **em** units I export from Visio. When I take this file without any manual modification and display in Visio, Inkscape, Chrome and generated PDF, I'll get two different outputs ... the same I'll get from  Visio, Inkscape & Chrome and the other one is from generated

[2016-12-21 09:58] #88 closed

[2016-12-21 09:58] mogest commented on #88
Ahhh.  Now I understand, and fortunately it was not too difficult to track down the bug.  Please update from git master and let me know!

[2016-12-21 10:12] Nowass commented on #88
WOW ... now it works like a charm ... GREAT! :-)

Many thanks for your support!

Merry Xmas
**_Nowass_**

[2017-01-25 09:02] nekolus opened #89 "add xlink:href support"
When I try to embed png using image tag. I was getting this error.
`block in pull_event': Undefined prefix xlink found (REXML::UndefinedNamespaceException)

Code that I tried.
Prawn::Document.generate("test.pdf") do
  svg "<svg><image width='115' height='30' xlink:href='https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Wikipedia-logo.png/44px-Wikipedia-logo.png' /></svg>"
end

[2017-01-25 12:55] #89 closed

[2017-01-25 21:33] mogest commented on #89
Hi @nekolus, looks like you closed the issue.  What was the resolution?  Also unfortunately your SVG got swallowed up so I can't see what your problem was.

[2017-02-01 22:50] Mogztter opened #90 "Missing y coordinate in lineto directive throws an exception"
The following SVG document is throwing an exception: https://drive.google.com/open?id=0B1rPjnFlfglqaEQzeFd2am84ME0

I believe the exception `nil can't be coerced into Float (TypeError)` is caused by a missing y coordinate in lineto directive.

Do you think that prawn SVG should be able to be read this document ?

A simple fix could be to check that `@last_point.last` is not `nil`: https://github.c

[2017-02-01 23:55] mogest commented on #90
Hi @Mogztter, thanks for the report.

I ran your attached file on prawn-svg 0.26.0.  It didn't crash and correctly rendered the PDF.  That's a bit strange, are you sure you sent the right file?  Maybe use a gist to get it to me, or pop it in a ZIP?

I'm happy to modify the code, but as per the spec, I'll make it terminate parsing if two coordinates are not specified for the `lineto`.

[2017-02-02 00:26] mojavelinux commented on #90
I tested, but now I think I may have used 0.25.1. I'll go back and test
with the latest release. If so, that's great news. No change is the best
change.

Le 1 févr. 2017 4:55 PM, "Roger Nesbitt" <notifications@github.com> a
écrit :

[2017-02-02 00:51] mogest commented on #90
I've made a code change because I feel like it should handle an incorrect number of arguments better than it does.

It's hard to know for certain what was happening with the SVG seeing as it doesn't crash on my system, but I suspect that commit will fix it anyway.

Would be grateful if you could test from the master branch and report back.

[2017-02-02 01:50] mojavelinux commented on #90
I can confirm that this happens with 0.25.2, but not 0.26.0. So an upgrade fixes the problem.

It actually appears to be a problem with a move command. The value is expected to be a 2D array, but at one point there is only one value in the array. This results in a nil value in the `@subpath_initial_point`, which later ends up being a nil value for `@last_point.y`. I think it's this path:

[code]

[2017-02-02 01:51] mojavelinux commented on #90
That's *exactly* what it was. If you change the uppercase E to lowercase e then it works with 0.25.2.

[2017-02-02 01:57] mogest commented on #90
Nice detective work as per usual, @mojavelinux!

I'll close this off for now.  It was good to give me an incentive to tidy up the error handling code too.

[2017-02-02 01:57] #90 closed

[2017-02-02 02:13] mojavelinux commented on #90
:+1:

[2017-02-02 10:21] Mogztter commented on #90
Wow!
1. Open an issue
2. Go to bed
3. Wake up
4. The issue is gone 😄

Thank you both 👍

[2017-02-03 07:25] dvanoni commented on #67
I was able to solve this by adding the following line to `config/initializers/prawn_rails.rb`:

[code]

I am also using the Prawn Rails `prawn_document` method rather than Prawn's standard `Prawn::Document.generate`. This allows the PDF to be returned in the HTTP response rather than saved to the Rails.root directory.

@mogest does this seem like a valid solution?

[2017-02-03 12:10] ssydorov opened #91 "issue with dotted line and SVG output in asciidoctor-pdf"
Hi All,
I got next error when I generate SVG diagramm with asciidoctor-pdf and asciidoctor-diagramm
dotted lines looks ok with PNG output
![diagramm-png](https://cloud.githubusercontent.com/assets/24498236/22590878/27be079e-ea1a-11e6-8fb8-4d0819661350.png)
but not ok with SVG output
![diagramm-svg](https://cloud.githubusercontent.com/assets/24498236/22590879/2a34424a-ea1a-11e6-86f5-f7bcc4bacae3.pn

[2017-02-03 19:07] mojavelinux commented on #91
Can you please attach the SVG file?

[2017-02-03 19:07] rempargo opened #92 "Big square aren't square"
Modified the first sample, but the red rectangle is not square, even width and height are equal.

[code]

[2017-02-03 19:51] mogest commented on #67
Hi @dvanoni.  I'm surprised prawn-rails doesn't automatically import prawn's extensions; that might be a bug in prawn-rails?  I've never used it though, so I am probably missing something.  But yeah, if they don't automatically include prawn's extensions, then your solution sounds perfect.

[2017-02-03 20:45] mogest commented on #92
Thanks for your report, @rempargo.  prawn-svg isn't handling svg elements with no width or height properly.  A workaround is to put in a width and height attribute on the svg element.  I'll get on to a fix this weekend.

[2017-02-03 20:54] ssydorov commented on #91
Hi!
We don’t support that file type.  :(
but in any case... SVG file looks ok, but PDF is not ok

[2017-02-03 20:55] ssydorov commented on #91
[4Dan.pdf](https://github.com/mogest/prawn-svg/files/751535/4Dan.pdf)

[2017-02-03 20:56] ssydorov commented on #91
[4dan.txt](https://github.com/mogest/prawn-svg/files/751536/4dan.txt)

[2017-02-03 20:57] ssydorov commented on #91
rename SVG to TXT (I could not attach SVG, ZIP)

[2017-02-03 21:45] mojavelinux commented on #91
Remember, an SVG is just text, so you can just put it in a code block.

[code]

[2017-02-03 21:48] mojavelinux commented on #91
I do not see these lines when I render this SVG using prawn-svg directly.

[2017-02-03 23:24] #92 closed

[2017-02-03 23:27] mogest commented on #91
Me neither.
[lines.svg.pdf](https://github.com/mogest/prawn-svg/files/751779/lines.svg.pdf)

Are you sure you're running a recent version of prawn-svg?

[2017-02-03 23:35] mojavelinux commented on #91
It appears so. My guess is this is either specific to Windows or it has to do with the encoding (though I can't reason as to why).

[2017-02-04 00:34] dvanoni commented on #67
Thanks for the response, @mogest.

It looks like __[PrawnRails::Document][]__ is a subclass of __Prawn::Document__, so I'm not sure why it doesn't have access to the extensions. I also may be missing something, but do you think it could have anything to do with the order in which the libraries get loaded?

My current solution seems to be working, so I don't want you to spend any time looking in to

[2017-02-04 01:11] mogest commented on #67
I think you're right about load order.

Prawn has code that will copy the currently loaded extensions into a subclass:

[code]

But once the inherited class has been defined, it won't pick up any other extensions installed.

Is there any way we can force prawn-svg to run before prawn-rails?  How about the order they're included in the Gemfile?

[2017-02-07 01:01] mogest commented on #91
@ssydorov, do you have any further information you can give me to help me replicate your issue?

[2017-02-08 02:48] dvanoni commented on #67
@mogest you're right!

I moved `prawn-svg` before `prawn-rails` in the Gemfile and was able to remove the line from the initializer and have it all work.

Thanks for the suggestion! 👍

[2017-02-08 06:20] mogest commented on #67
Thanks @dvanoni, I've added a note to the README for future prawn-rails users.

[2017-02-08 10:30] ssydorov commented on #91
I don't know, what I can add....
source of my file
[code]

command line

`>asciidoctor-pdf -r asciidoctor-diagram diagram.adoc`

SVG file is correct
`<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentScriptType="application/ecmascript" contentStyleType="text/css" height="159px" preserveAspectRatio="none"

[2017-02-08 10:38] ssydorov commented on #91
from my side, problem is not with SVG creation. SVG is ok. problem in final PDF file, thanks!

[2017-02-08 10:54] ssydorov commented on #91
gem prawn version
[code]

[2017-02-10 22:46] mogest commented on #91
@ssydorov, I think you have a problem with your PDF viewer.  I loaded the PDF file that you supplied above using Chrome's PDF viewer on Windows 10 and this is what I see:

![svg](https://cloud.githubusercontent.com/assets/23133/22847066/9f097ea6-f04f-11e6-99d5-616cfd8eb7e2.png)

It looks identical to the SVG file (apart from the drop shadow under the boxes).  Try a different PDF viewer?

[2017-02-10 22:55] ssydorov commented on #91
Hi,
yes, I checked in chrome now.... It looks ok in chrome... But in Adobe Acrobat X and in Adobe Acrobat DC is not ok.
How is right in this case?

[2017-02-10 22:56] mogest commented on #91
Hmm I'd expect it to be right in Adobe Acrobat.  I'll look into this further, thanks for the update.

[2017-02-10 23:44] #91 closed

[2017-02-10 23:46] mogest commented on #91
Thanks for your persistence @ssydorov.  Surprising that prawn-svg has been rendering lines wrong for the last 7 years, but there you go!  This should look better for you.

[lines.svg.pdf](https://github.com/mogest/prawn-svg/files/768068/lines.svg.pdf)

Thanks again for your help :+1:

[2017-02-11 00:49] mojavelinux commented on #91
I can't believe I didn't think to check the viewer. Sure enough, Adobe Acrobat (even on Linux) is showing the lines @ssydorov was reporting. Wow. Nice investigative work @mogest! Amazing that Prawn has been doing it wrong all along.

Does there need to be a corresponding change in Prawn core?

[2017-02-11 08:02] mogest commented on #91
I don't think so @mojavelinux.  PDF spec doesn't have a concept of a line in isolation, they're always as part of a path that may be two dimensional and therefore may be filled.  So a filled line seems to me to be valid PDF, even though how to render that seems to be under debate between PDF renderers.

I'd say it's valid that Prawn allows a filled line, but prawn-svg shouldn't because that concep

[2017-02-11 09:13] mojavelinux commented on #91
:+1:

Thanks for the follow-up!

[2017-02-11 20:12] ssydorov commented on #91
Thank you very much to all of you!

[2017-03-26 22:49] mojavelinux commented on #91
@mogest Could you let me know what version you are going to use for the next release? I want to include that version in the version range when I release Asciidoctor PDF so that users will get the update when it comes.

[2017-03-27 14:14] TobiasHector commented on #62
@mogest Prawn has been updated to 2.2.2 now - any chance of this progressing now we're a few versions further? 🤞

[2017-03-28 05:06] mojavelinux opened #93 "Honor override for generic font names"
A user may want to supply a custom font mapping for generic font names. Prawn SVG should look in the font registry to see if such an override exists before assigning a default mapping.

This feature is important because it allows the user to control which font is used by SVGs (sometimes auto-generated by tools like blockdiag) that use generic font names.

See https://github.com/asciidoctor/asciido

[2017-03-29 15:41] LuckDragon82 opened #95 "fallback_font_name or supplying additional fonts?"
I would like to supply additional fonts so I can process emoji and Kanji (and possibly other things). I can't seem to get the svg processor to pick up the new font.

[code]

Any idea what I'm doing wrong? What is the correct way to pass new fonts in? Is there any way to supply more than 1 fallback font? Thank you.

-Joshua

[2017-03-31 23:13] #93 closed

[2017-03-31 23:16] mogest commented on #95
Hi Joshua, thanks for the report.

Are you sure that it's using the fallback font?  Have you tried explicitly specifying the font in the SVG, and does that work?

[2017-03-31 23:17] mogest commented on #95
Oh, also take the path out of the `setup_fonts` method, you've already specified the font path above.  It should just be `gkai00mp.ttf`.

[2017-03-31 23:20] mogest commented on #62
Ooo, yes, looks like it.  Let me play.

[2017-03-31 23:38] #62 closed

[2017-03-31 23:40] mogest commented on #62
Very happy, at long last, to bring gradients to prawn-svg 😄 🎉 🎈 🎈 🎉

[2017-03-31 23:41] mogest commented on #91
It'll be 0.27.0.

[2017-03-31 23:47] mojavelinux commented on #91
Great!

[2017-04-04 06:41] mojavelinux opened #96 "Translate transform not being applied"
It appears that the translate transform is not being applied anymore. I've provided the following project for demonstration. If you try it with prawn-svg 0.26.0 and 0.27.0, you'll see that you get different results. The image should appear at the top of the content area. Instead, it's written in the middle of the page. The difference seems to be the translation applied to the parent group.

[2017-04-04 06:44] mojavelinux commented on #96
See https://github.com/mojavelinux/prawn-svg-issue-96

[2017-04-04 07:26] mojavelinux commented on #96
Actually, it appears like the problem is that the image is vertically centered in the page...though I can't explain why.

[2017-04-04 07:50] mojavelinux commented on #96
This appears to be a simple problem in the calculation of the output sizing.

If I add the following line in the draw method on Interface:

[code]

With prawn-svg 0.26.0, I get:

[code]

With prawn-svg 0.27.0, I get:

[code]

I'll update the title to reflect the real problem.

[2017-04-04 07:51] mojavelinux commented on #96
If I set the height explicitly, it all works correctly. So this is when either the height or width is dynamic.

[2017-04-04 07:52] mojavelinux commented on #96
The unspecified dimension is growing to the available space instead of being scaled proportionally to the specified dimension.

[2017-04-04 08:00] mojavelinux commented on #96
And specifically this is when the image document does not have a height and width (only a viewBox).

[2017-04-04 08:05] mojavelinux commented on #96
It turns out, this change was intentional as a fix for #92. I strongly disagree with this change. The problem is that if a width is specified and not a height, we should still respect the viewBox. As it's implemented now, the SVG is blowing way past the viewBox to consume all the available height on the page. That's not how I would interpret using 100% and that is not how browsers work either.

[2017-04-04 08:25] mojavelinux commented on #92
While the fix for this issue solved the problem of an SVG with no viewBox and no explicit dimensions, it broke the case of an SVG with a viewBox and no explicit dimensions.

[2017-04-04 08:29] mojavelinux commented on #96
Here's a clearer example. The following two statements do not place the SVG at the same spot:

No viewBox:

[code]

With viewBox:

[code]

By setting the viewBox, the calculation of the output width and height gets thrown off.

[2017-04-04 08:32] mojavelinux commented on #96
What should have happened with the fix for #92 is that special logic should have been isolated to when the viewBox is not specified. Instead, it affected the case when a viewBox is specified, which was working properly in all cases.

[2017-04-04 08:32] mojavelinux commented on #96
I hope that provides enough insight ;)

[2017-04-04 19:23] mogest commented on #96
Thanks @mojavelinux, I agree it doesn't seem right. Can you review my commit, please?

[2017-04-04 22:14] mojavelinux commented on #96
Almost there! There's still one case that doesn't seem right. Consider the following:

[code]

That renders as we expect...at the top of the page with width equal to height equal to the page content width.

Now take away the requested width:

[code]

We expect the same results as the first. However, in this case, the box is drawn in the vertical center of the page. That's because the height of the

[2017-04-05 01:25] mogest commented on #96
That's consistent with how browsers render, though.  I can see the logic about restraining to the ratio of the viewBox when a width or height is explicitly provided, but when it's not, the SVG spec clearly says it defaults to 100% of the available space.

[2017-04-05 08:04] mojavelinux commented on #96
I disagree that is how browsers render. I've added an example to prove it. See https://github.com/mojavelinux/prawn-svg-issue-96/blob/master/issue-96-box.html

I acknowledge the spec says to expand to the available space when no explicit width and height are given. But it still needs to respect the viewBox in doing so (like a balloon). In our example, the width expands to 100%, but the height need

[2017-04-05 08:10] mojavelinux commented on #96
Very interesting to note is that if you take away the viewBox in the issue-96-box.html example, what you discover is that the behavior of prawn-svg 0.26.0 is actually perfectly consistent with what the browsers do. The rectangle is not a square and it does not expand to fill the bounds. I don't know if that's really right. Just an observation. But I'll be honest that I don't know what an SVG is th

[2017-04-05 08:19] mojavelinux commented on #96
I guess you could make the case that what the browsers are doing here is wrong. What is currently implemented in master is only emulated in the browser using:

[code]

There's clearly a judgment call to be made here. But I think it's more logical for the user if the SVG "canvas" only expands all the way to 100% if the viewBox permits it or if the viewBox is not there.

[2017-04-06 18:30] LuckDragon82 commented on #95
Boom. I used nokogiri to cycle through the text elements and add the appropriate font-family and it works perfectly. Thank you.

[2017-04-06 18:30] #95 closed

[2017-04-08 09:24] mogest commented on #96
If you make an SVG document and display it in the browser:

[code]

Then it displays as if width was 100% and height was 100%, and that's what I'm emulating.  As you say, it doesn't make a whole lot of sense to not specify any width or height, and I think sticking with the SVG spec (i.e. unspecified == 100%) is the way to go because of that.

[2017-10-02 19:45] jonathan0211 opened #97 "Svg's not showing properly"
I am using prawn-svg to append charts from highcharts library, but They are not being properly displayed, I am using CombinePDF to. This is the file generated
[fb6d1a9c-7a4a-4784-bcee-15d6fda8b335.pdf](https://github.com/mogest/prawn-svg/files/1350128/fb6d1a9c-7a4a-4784-bcee-15d6fda8b335.pdf), on Chrome pdf viewer the file is showed properly, but on my ubuntu pdf viewer something went wrong. This

[2017-10-04 19:30] LuckDragon82 opened #98 "image not displaying properly"
Hello when I run the following code I get the svg lines, but no image. I would like to be able to build pdfs using remote images, but I can't figure out what I'm doing wrong here. The svg code works in chrome browser. Thank you for any input.

[code]

[2017-10-04 20:42] mogest commented on #98
Sounds like a bug, @LuckDragon82. I'll try to take a look this weekend.

Just checking, you haven't set `enable_web_requests` to false?

In the interim, try changing `xlink:href` to just `href` and see whether that does anything.

[2017-10-04 21:11] LuckDragon82 commented on #98
Changing xlink:href to just href seems to have fixed it. Thank you! (it's funny I tried that, but had some trouble with rails and my local files not displaying properly, so I didn't realize that worked. I had to try it with a url external to my machine, no idea why). Anyhow its working!

[2017-10-04 21:15] mogest commented on #98
Cool, must be a problem with namespace parsing, I think I might know what it is.

Good that we've found a workaround anyway :)

[2017-10-07 03:10] mogest commented on #98
@LuckDragon82, I tried your code as is on the latest prawn (0.27.1) and it worked fine as is in your original post.  Are you using the latest version?

[2017-10-08 01:30] mogest commented on #97
Hi @jonathan0211. Sorry, I need a lot more information to diagnose what's going wrong.

Can you give me at minimum a small SVG file that renders properly in a web browser and does not render correctly with prawn-svg?  Better still, you should experiment to see what are the features/tags that prawn-svg is not rendering correctly.

[2017-10-24 10:48] Nowass commented on #87
Hi @mogest, since I reported this issue already a quite long time ago, I would like to ask when do you think this issue could be fixed? it's quite annoying to draw pictures where elements can't be scaled ...

[2017-10-24 19:42] mogest commented on #87
I looked into it and it was difficult. Given this issue has sat here with no plus ones for almost a year, it's probably reasonably infrequently occurring.  If you're able to fix it and submit a PR, the community would appreciate your contribution.

[2017-10-26 09:17] mogest commented on #98
Closing due to no response and OP's example seems to work fine in the latest version.

[2017-10-26 09:17] #98 closed

[2017-10-26 09:17] mogest commented on #97
Closing due to insufficient information and no response.

[2017-10-26 09:17] #97 closed

[2017-11-09 17:17] kalvdans opened #99 "fillrule="evenodd" not supported"
I have a pictogram which is not rendered properly by prawn-svg. It is due to a <path> element containing two closed subpaths where the second subpath should carve out a hole in the first subpath. I attach here:

* the svg file as txt (should be a radioactive symbol)
[warning-radioactive.svg.txt](https://github.com/mogest/prawn-svg/files/1458523/warning-radioactive.svg.txt)

* the rendered pdf (dis

[2017-11-10 08:37] hho commented on #96
I'd also love to see this fixed. Prawn is for PDFs and not a browser, so using 100% for unspecified is not helpful, especially for `height`.

[2017-11-10 20:33] mogest commented on #99
Thanks @kalvdans.  Do you mind if I put the SVG above into the SVG test suite, licensed under MIT?

[2017-11-10 20:59] kalvdans commented on #99
The source of the pictogram is public domain, as far as I can trace from GallerySignauxDangers.2.1.0.oxt where I took it from. So you can place it in the test suite under MIT.

[2017-11-11 01:32] mogest commented on #99
Nice one. I used the logic from your pull request and took the opportunity to rewrite the surrounding code a bit, and add some tests. Thanks so much for the idea and implementation!

I'll release a new gem in the next couple of weeks.

[2017-11-11 01:32] #99 closed

[2018-02-05 16:44] ykessler opened #101 "Text stroke not working"
Text stroke does not render, whether applied as style or attribue:

[code]
https://jsfiddle.net/msvcv93m/1/

 Is stroking text possible?

[2018-02-05 19:51] mogest commented on #101
Hi @ykessler, thanks so much for the report.  I've implemented your suggestion.  If you wouldn't mind trying it out and confirming it works for you, that'd help!  And I'll release a new gem in the next week or two.

[2018-02-05 19:51] #101 closed

[2018-02-05 20:22] ykessler commented on #101
@mogest kudos for the blazing response. It works great- thanks!

[2018-02-06 04:29] mogest commented on #79
It's been a long time coming, but I finally found a relatively easy way of implementing this, woohoo!

[2018-02-06 04:29] #79 closed

[2018-06-05 20:40] CodingAnarchy opened #102 "Non-standard prawn extension inclusion causing issues with prawn-rails update"
I've been working on a PR to have prawn-rails automatically include all bundled Prawn extensions (see: cortiz/prawn-rails#29), but this is breaking with `prawn-svg`, because unlike most prawn extensions, which are accessed with a `require prawn/<extension_name>`, `prawn-svg` has its own workaround to work with `prawn-rails`.

Is there any way we can standardize on the `prawn/<extension_name>` form

[2018-07-23 09:54] mogest commented on #102
Hi @CodingAnarchy, sorry for the slow response.  I'm happy to do this; could you clarify what I should alter, or if it's easier to do than say submit a pull request?  Happy to do it myself but I can't quite work out what you're after from the description above.

[2018-11-21 11:10] satirebird opened #104 "Gradients are not shown properly if there are added multiple times"
Linear gradients are shown correctly only on the first svg. If there is a second svg image the gradients are not shown or with some strange look. Asciidoctor-pdf also have problems with that. I created a simple test like this.

[code]

The svg image is created with graphviz.

The result looks like this:
![gradient](https://user-images.githubusercontent.com/14821104/48837550-f6b09100-ed85-11e8-9bca

[2018-11-22 19:31] mojavelinux commented on #96
I stand firm that this is still a problem. When an explicit width is not specified, an unexplained gap appears above and below the image. And this surprises users every time. The workaround is to specify an explicit width, but it incurs a high support cost to have to continuously remind users of this.

[2018-11-22 19:33] mojavelinux commented on #96
Here's another example: https://github.com/asciidoctor/asciidoctor-pdf/issues/886

[2018-11-22 19:34] mojavelinux commented on #96
Here's the issue I have with the logic:

The viewBox constraint should be honored.

[2018-11-24 00:54] mogest commented on #104
Hi @satirebird, thanks for the report.

Unfortunately I think this is a bug in the prawn gradients library (which I also helped write some of, but has been changed extensively since I implemented it.)  My guess is that the algorithm that tries to generate a unique key for each gradient is getting confused and thinking that the two different gradients are actually the same.

I don't have the time t

[2018-11-26 23:01] satirebird commented on #104
Hello @mogest ,

it's not so easy. After getting the response from the prawn project I went deeper into the code. I checked the fill_gradient function and added some debug outputs. The bug has somthing to do with the transformation.
I tested the following code:
[code]

The transformation variable in the function gradient_coordinates() contains the following parameters (one line for each svg):
[cod

[2018-12-14 11:14] MilanCancarevic commented on #63
here is my solution for scaling image :
[code]
Here is for example if image is 2000x500 i want to make max width of image size of bounds.width
so i use scale and divine bounds.width with width/height, maybe this can be useful for someone

[2018-12-14 23:37] KidA001 opened #105 "undefined method map for `css_selector_to_xpath` method"
I'm creating a SVG with:
[code]

The `svg_string` is:
[code]

I'm getting an error:
[code]

Using the SVG anywhere else on the web, it is valid. What am I doing wrong?

`ruby 2.5.1`
`prawn-svg-0.28.0`

[2019-01-01 01:10] mogest commented on #105
Hi @KidA001, thanks for reporting this bug!  The CSS code didn't properly handle the case where it couldn't parse a CSS selector (`@font-face` in this case) and so crashed.

The bad news is that prawn-svg doesn't support `@font-face`, so even though I'll push a fix that will prevent it from crashing, your page will still be rendered in a standard font.  Sorry :(

[2019-01-01 01:10] #105 closed

[2019-01-01 01:17] mogest commented on #102
Hey, just doing some housekeeping today.  It looks like from the referenced issue that you fixed it up in a different way, so I'll close this.  Let me know if there's anything I can do to help further.

[2019-01-01 01:17] #102 closed

[2019-01-01 03:03] mogest commented on #104
Nice debugging and good news!  It was a bug in prawn, albeit in code that I wrote... ah well.  Sorry about that.

You can refer to prawnpdf/prawn#1097 to keep track of the fix.  It's a one-line fix if you want to pop it in your own code.

[2019-01-01 03:03] #104 closed

[2019-01-01 03:33] mogest commented on #65
I'm doing some github housecleaning and came across this one.  prawn-svg has moved more in this direction in the last three years but I don't think it'll ever reach there; I guess it's not the purpose I intend for the library, and with the current trajectory of how ruby is being used by the industry I don't think there'd be a huge demand for it.

So sadly I will close this for now.  Thanks for the

[2019-01-01 03:33] #65 closed

[2019-01-02 21:17] satirebird commented on #104
Cool, thank you very much. The fix works as expected. Now I can use SVGs with asciidoctor-pdf.

[2019-03-11 10:35] alexfederlin opened #107 "Issue rendering SVG from draw.io"
Hi. I'm exporting an SVG from draw.io to use it in my PDF generated with asciidoctor-pdf. The rendering of text inside boxes does not really work. I have attached the following files inside the zip file:

- draw.io xml file
- exported svg files (with and w/o included copy of diagram)
- used adoc document
- resulting pdf file

Asciidoctor used: Asciidoctor PDF 1.5.0.alpha.16 using Asciidoctor 1.5.8

[2019-03-17 04:20] mogest commented on #107
Hi @alexfederlin.  Sorry to say, your SVG documents have HTML embedded as a "foreign object" inside them, and prawn-svg does not and will never support HTML.

I don't really know much about the stack you're using, but make sure you're not introducing any html yourself, and otherwise have a chat with the Asciidoctor PDF team regarding whether it's possible to keep html out of the svg document.  Goo

[2019-03-17 04:20] #107 closed

[2019-03-19 22:55] alexfederlin commented on #107
Thanks. The SVGs are created with http://draw.io
With your input, I did some more research which showed that they are aware of the issue: https://desk.draw.io/support/solutions/articles/16000042487-why-does-the-text-of-svg-export-sometimes-not-display-correctly-in-ie-and-some-svg-editors-

Again, thanks for your help!

[2019-04-08 11:36] mojavelinux opened #108 "Embedded image fails to render if mime type has mixed case"
If an image embedded in an SVG (using a data URI) declares a mime type in a mixed case, prawn-svg doesn't include the image in the PDF document.

Here's an example of a failing syntax:

[code]

Whereas the following syntax works:

[code]

Here's a sample image.

https://github.com/asciidoctor/asciidoctor-pdf/files/2098266/server_room_1_floor.zip

You'll notice that none of the images show up until

[2019-04-08 11:58] mojavelinux opened #109 "Use lowest opacity value when both opacity and fill-opacity properties are specified"
When both opacity and fill-opacity are specified, most SVG programs seem to use the lowest opacity value of the two. prawn-svg always prefers the fill-opacity value.

Here's an example:

[code]

The second ellipse should be transparent. Every SVG viewer I tried displays it this way. prawn-svg is the exception.

I really don't know what's right here. But it probably makes sense for prawn-svg to ali

[2019-04-08 12:07] mojavelinux commented on #96
@mogest Thanks so much for resolving this. This fixes numerous rendering issues in Asciidoctor PDF. Now, SVGs generated by various diagramming tools are showing up where users expect them to show up. Happy campers. \o/

[2019-04-08 18:58] #108 closed

[2019-04-08 19:02] mojavelinux commented on #108
Thanks @mogest!

[2019-04-08 19:29] #109 closed

[2019-04-08 19:33] mojavelinux commented on #109
Thanks @mogest!

[2019-04-08 19:34] mogest commented on #109
Thanks for reporting as always :)

[2019-04-08 20:08] mojavelinux commented on #109
Gladly! prawn-svg is really producing great results. Asciidoctor PDF users are going to love the update.

[2019-06-20 08:10] mojavelinux opened #111 "Enclosing anchor tag causes text to be dropped"
If the text is surrounded in an anchor tag (as some diagramming tools like plantuml do), the enclosed text disappears. Here's an example:

[code]

I'd like to discuss whether this is a case prawn-svg would be willing to handle, or whether I need to strip the enclosing `<a>` tag by manipulating the SVG data. I'm open to either option.

[2019-06-20 08:26] mogest commented on #111
It's an SVG element so I'm happy to add support. It appears SVG doesn't
style links by default so it'll just be an element that does nothing except
render its children.

Will get it sorted this weekend.

On Thu., 20 Jun. 2019, 8:10 pm Dan Allen, <notifications@github.com> wrote:

[2019-06-20 08:28] mojavelinux commented on #111
Agreed. It looks like plantuml is already applying manual styling to the text, so as long as prawn-svg just delegates to the children, it will appear correct (to the user).

[2019-06-20 18:22] mogest commented on #111
Fixed in 388632f1bc743d61aece7704a776922f239f3984.  Also added support for textLength and lengthAdjust as in your sample code.

[2019-06-20 18:22] #111 closed

[2019-06-20 18:38] mojavelinux commented on #111
Sweet! Thanks @mogest!

[2019-08-23 08:14] thomasheinen opened #112 "gradientTransform on linearGradient is not supported"
Hi,

I have encountered an SVG which is not correctly rendered. Only the outer black ring is shown. The inner blue flames are not rendered at all. Batik and other programs render it correctly.

I have two versions of the same SVG (converted with inkscape from EPS using different converters). Both are not working.

I don't think this issue is related to #85 or #87 but I might be mistaken.
Could you

[2019-08-23 08:36] mogest commented on #112
Hi @thomasheinen, thanks for posting.

That's an absolutely enormous SVG file you've supplied—could you please narrow the scope for me by paring it down to a minimal file that still reproduces the error?  Happy to dig into it at that point.

[2019-08-23 09:08] thomasheinen commented on #112
Hi @mogest

Thanks for your fast reply. You are right, sorry. It was not very thoughtful of me to whip such a big file into your face. :smile:

Please find attached a minimal example. The black circle is rendered correctly. The blue "egg" vanishes in the PDF, but is rendered in external programs and the HTML version correctly.

[broken-svg-minimal.zip](https://github.com/mogest/prawn-svg/files/353

[2019-08-23 09:11] mogest commented on #112
Ah, OK the first clue is that it does spit out a warning:

I don't actually know what that even means (yes I wrote that error message!) so I'll go looking.

[2019-08-23 09:50] mogest commented on #112
Ah, OK.  Because the `<linearGradient>` elements in your document have `gradientTransform` attributes, it's skipping the gradient altogether which makes it not render.

I took those attributes out and it doesn't render correctly (it looks like it's missing the fade-out altogether.)

I tried a bit of hackery, the gradients are handled by Prawn but I managed to monkey patch the method that applies t

[2019-08-23 10:20] thomasheinen commented on #112
Hm okay. Maybe we'll have a look at it ourselves, but we are no Ruby programmers here. :sweat_smile: We are just using ASCII Doc for some fancy reporting in our framework and stumbled upon the problem with that SVG.

Thanks for looking into it anyway, and some hard head-banging on your side would be much appreciated. :wink: :metal:

[2019-08-23 20:20] mogest commented on #112
Would you believe... I actually managed to get it going.  Still needs a lot of tidying up since I have to monkey patch Prawn (their release cycle is slow) but if you want to try it out on the `issue-112` branch please do!

[logo-gas.svg.pdf](https://github.com/mogest/prawn-svg/files/3536079/logo-gas.svg.pdf)

[2019-08-24 22:16] mogest commented on #112
All done, it'll go out with the next release.

[2019-08-24 22:16] #112 closed

[2019-08-26 07:41] thomasheinen commented on #112
I can confirm that the patch is working. Thanks very much for your effort. :+1:

[2019-11-13 10:25] mojavelinux commented on #111
@mogest Could you make a release when you get a chance? I'd like to include this improvement in the first stable release of Asciidoctor PDF.

[2019-11-14 08:10] mogest commented on #111
Sure thing, done.

[2019-11-14 09:57] mojavelinux commented on #111
Thanks!!

[2019-12-16 08:34] saurabhsingh-pvips commented on #77
I am facing this issue where texts are missing when svg is imported.
Image in PDF.
![image](https://user-images.githubusercontent.com/57518239/70891181-bfee8e00-200c-11ea-929e-fc20e495c064.png)
vs
Image in HTML.
![image](https://user-images.githubusercontent.com/57518239/70891219-d7c61200-200c-11ea-8dda-7a7a07ad02f0.png)

Asciidoctor version used:

[code]

[2019-12-16 08:36] mogest commented on #77
Hi @saurabhsingh-pvips, I'll need the raw SVG so I can diagnose anything.

[2019-12-16 08:38] saurabhsingh-pvips commented on #77
Here it is,
https://github.com/sifive/block-pio-sifive/blob/d125018d0b4f24ca5ceb1887b74121eccebf5076/docs/scribble/components/pio/pio-diagram.svg

[2019-12-16 08:50] mogest commented on #77
Well... that is the most odd SVG I've ever seen, congratulations!

Having said that, it should work with prawn-svg.  I'll attempt to take a deeper look in the weekend, but it's got nothing to do with this particular issue you've attached it to.  Would you mind creating a new issue for this?  Thanks.

[2019-12-16 08:52] saurabhsingh-pvips commented on #77
Alright. Will do. Thanks!

[2019-12-16 09:46] saurabhsingh-pvips opened #113 "Text not appearing in the images exported to .pdf from .svg using asciidoctor-pdf."
This is the rendered image I get in the pdf

![image](https://user-images.githubusercontent.com/57518239/70896497-d4378880-2016-11ea-9667-fcef52a47f29.png)

VERSUS

The image in the html file of the same .adoc .
![image](https://user-images.githubusercontent.com/57518239/70896570-ee716680-2016-11ea-933e-93c94bc31760.png)

The raw SVG file can be found [here](https://github.com/sifive/block-pio-sif

[2019-12-16 17:52] mogest commented on #113
Had a quick look.  It seems that this SVG puts its `<defs>` at the bottom of document, and uses the elements defined in the `<defs>` before they're actually defined.

That doesn't appear to be invalid SVG, but it's not recommended—see the SVG spec:

The fix would have to be scanning the document for `<defs>` before we start parsing, which is going to slow down every render.  I'll do some performan

[2019-12-20 04:14] #113 closed

[2019-12-20 04:15] mogest commented on #113
Hi @saurabhsingh-pvips, turned out to be not too much work.  It seems to render your sample SVG perfectly.  I probably won't do a release only for this fix but please do pull down from master and try it out.

[2019-12-20 09:28] saurabhsingh-pvips commented on #113
Alright. I did try manually editing the svg file but couldn't succeed completely. I am currently facing issue in the steps to generate .adoc file and it might take a while. Once generated, would try again with the master version and let know if it's fixed. Thanks!

[2019-12-24 06:37] saurabhsingh-pvips commented on #113
How do I pull prawn-svg directly from master into the asciidoctor-pdf?

[2019-12-24 07:03] mojavelinux commented on #113
@saurabhsingh-pvips Create the following Gemfile in your project:

[code]

Run Bundler as follows:

[code]

Run asciidoctor-pdf via Bundler:

[code]

[2019-12-24 07:11] saurabhsingh-pvips commented on #113
This falls back to the previous error of `allow-uri-read is not enabled`. I had previously fixed this by pulling master of asciidoctor-pdf and setting up from there.

[2019-12-24 07:15] saurabhsingh-pvips commented on #113
Using this version of asciidoctor-pdf falls back to previous error of `allow-uri-read not enabled`. I had previously fixed this by setting up asciidoctor-pdf installed from master of asciidoctor-pdf.

[2019-12-24 07:20] mojavelinux commented on #113
Then also use the development version of asciidoctor-pdf:

[code]

[2019-12-24 07:28] saurabhsingh-pvips commented on #113
Stuck at error:
`asciidoctor: WARNING: could not embed image:`
[code]
Complete error message here
[asciidoctor.txt](https://github.com/mogest/prawn-svg/files/3997536/asciidoctor.txt)

[2019-12-24 07:33] mojavelinux commented on #113
Looks to me like the XML is invalid. Have you checked it with an XML syntax checker?

[2019-12-24 07:37] saurabhsingh-pvips commented on #113
Checked with two online validators and there's no error!

[2019-12-24 07:42] mojavelinux commented on #113
I tried it and it works fine. I downloaded the SVG in the description. Then I used:

[code]

And I ran that with:

[code]

I see the image exactly as it should appear.

[2019-12-24 07:44] saurabhsingh-pvips commented on #113
I am not sure where I should use this: `image::index.svg[pdfwidth=100%]`

[2019-12-24 07:44] mojavelinux commented on #113
@saurabhsingh-pvips it seems like your error is coming from somewhere else.

@mogest I can confirm that the change you made allows the text to appear.

[2019-12-24 07:46] mojavelinux commented on #113
@saurabhsingh-pvips you are giving bits and pieces of your scenario, so I don't really know what to suggest. But it sounds like you have having difficulty with Asciidoctor PDF at this point and not prawn-svg. I would recommend either asking on gitter.im/asciidoctor/asciidoctor or filing an issue at asciidoctor-pdf for help. I don't think we need to concern mogest with it.

[2019-12-24 07:50] saurabhsingh-pvips commented on #113
I guess my scenarios is pretty straight forward. I've an adoc file with svg image embedded. I need to convert it to pdf. We've validated the svg so I can narrow the issue down to something not being right with asciidoctor-pdf.

Another thing to be noted. I did fresh installation of asciidoctor-pdf again and the error message shown are the same, even without specifying it to use the development ver

[2019-12-24 07:55] mojavelinux commented on #113
I'm absolutely positive. You can be certain of that. I work with these tools every day so I'm keenly aware of what versions I'm using.

The problem is, you are not giving us that example. You attached an SVG to the description of this issue and that SVG works perfectly. So it's likely the fact that your scenario is different. And that is best suited for an issue in Asciidoctor PDF, not here.

[2019-12-24 07:56] saurabhsingh-pvips commented on #113
I get it. This might be something related with asciidoctor-pdf. I'll file a ticket there.

[2019-12-24 08:04] saurabhsingh-pvips commented on #113
Some how it is fixed. I restarted the terminal and somehow it worked.

[2019-12-24 08:08] mojavelinux commented on #113
Yeah! :tada:

[2020-01-26 09:24] stephenwhittle opened #115 "prawn-svg does not currently handle local references in < a > elements"
As per the discussion at https://github.com/asciidoctor/asciidoctor-pdf/issues/1521 , a local reference inside < a > tags in an svg is currently unhandled, but requires some special attention to be converted to a clickable link that will redirect to an anchor in the enclosing document.
Here's a sample of such an input that links to an anchor called `_settingsmanager` :

Would it be possible to hav

[2020-01-26 09:26] mojavelinux commented on #115
To be clear, it doesn't handle external references either. Currently, the `<a>` element acts like a `<g>`.

[2020-02-07 22:05] mogest commented on #115
Hi @stephenwhittle.  I've had a look through the PDF spec to see how hard this would be, and 20 minutes in I'm thoroughly confused about how I'd go about implementing this.  It's not a prawn feature (as far as I can see) so I'd have to implement it directly into PDF, and at the moment I'd have no idea about how to go about doing that.

If you can point me to some source that shows how to make a li

[2020-02-07 22:20] mojavelinux commented on #115
I'm happy to share that this feature is supported by Prawn and rather simple to implement. You just define the `:anchor` option on the fragment to the name of the target. So if the source is `<a href="#target">go to target</a>`, then the assignment would be `fragment[:anchor] = 'target'`.

[2020-02-07 22:22] mogest commented on #115
Oh, fantastic!  Thanks @mojavelinux.  I'll see what I can do.

[2020-02-07 22:23] mojavelinux commented on #115
See https://github.com/prawnpdf/prawn/blob/master/lib/prawn/text/formatted/box.rb#L47-L52

[2020-02-07 22:38] mogest commented on #115
Hmm the problem there is that only supports text.  An `<a>` can have anything inside it.

I'd have to get the bounds of the objects inside the `<a>` to get this working.  I started on that project when implementing gradients and many elements can report their (rectangular) bounding box.  But not text.  Given the huge number of text options there are, it's going to be quite tricky to calculate the

[2020-02-07 22:51] mojavelinux commented on #115
I agree, this is much more challenging on your end. I was only thinking about text. I suppose you could scope it to text and ignore it for other object types, at least to start. Tough call.

[2020-02-10 16:28] ajselvig opened #116 "8-digit hex fills rendering as black"
Hello, not sure if this is an issue or just something that's not currently supported.

I'm rendering a polygon with an 8-digit hex color (#357d9c33) as the fill. This renders correctly in the SVG file itself (in Chrome and Preview, I guess), but is completely black when I add it to a PDF using prawn-svg.

I've attached the rendered PDF, as well as a screenshot of the actual SVG (Github apparently

[2020-02-10 17:12] mogest commented on #116
Hi there,

8-digit hex colours don't appear to be valid SVG.  prawn-svg is a SVG 1.1 parser, and it's [definitely not in that spec](https://www.w3.org/TR/SVG11/types.html#DataTypeColor).  But I thought it'd be in the SVG 2 definition, but no, [its hex colours are only 3 or 6 digits long](https://www.w3.org/TR/css-color-3/#valuea-def-color) like SVG 1.1.

SVG 1.1 doesn't have `rgba()` for colours e

[2020-02-10 23:05] ajselvig commented on #116
Thanks for the quick and thorough response. It's interesting that it's not in the spec yet supported by multiple implementations, but I suppose that's not surprising.

Yes, I'm generating these myself, so I'll just use fill-opacity. Thanks again for the help.

[2020-02-10 23:05] #116 closed

[2020-02-18 18:47] habamax opened #117 "linearGradient does not support stop-opacity attribute"
I have created issue in asciidoctor-pdf https://github.com/asciidoctor/asciidoctor-pdf/issues/1561
But not sure if it is related to asciidoctor-pdf itself.

So there is a simple box with a linear gradient created in inkscape:

![image](https://user-images.githubusercontent.com/234774/74767371-cfea4e80-5297-11ea-808a-385a4770bcbf.png)

asciidoctor-pdf renders it

![image](https://user-images.github

[2020-03-17 19:08] gioele opened #118 "Missing support for radialRadient, but almost all bits are in place (proof of concept patch)"
prawn-svg does not support `radialRadient`s, but looking at the code, it looks like it could be supported by adding only a dozen lines (see below).

Prawn supports radial gradients and the code in `elements/gradient.rb` can already read all the needed information. The only missing piece is the transformation from the coordinates in `@cx`, `@cy` and `@r` (and optionally `@fx` and `@fy`) into the co

[2020-03-17 19:38] gioele commented on #118
The following patch sort of implements (in a vary hacky way) support for radial gradients.

The coordinates (and thus the colors) are off, but the very basic functionality is there.

[code]

[2020-03-21 10:45] oddhack opened #119 "No support for <pattern> tag"
As noted in https://github.com/asciidoctor/asciidoctor-pdf/issues/1621, asciidoctor-pdf forwards warnings about this WRT the 'test2.svg' image in the attached zipfile. N.b. I don't know how to make a minimal case using prawn / prawn-svg itself - the example on the README of this repo doesn't emit any warnings. But running the same image through asciidoctor-pdf
[test.zip](https://github.com/mogest/

[2020-03-22 21:43] mojavelinux commented on #119
That's because prawn-svg doesn't emit warnings. It returns them. So you need to print the warnings on the document object.

You can see how that is done here: https://github.com/asciidoctor/asciidoctor-pdf/blob/cc9428ff402b5ecebcfce86c039051b35759987e/lib/asciidoctor/pdf/converter.rb#L810-L826

[2020-03-26 19:20] chuck-confluent opened #120 "SVG Renderer ignores fill and renders as black"
Hi, love your work! I use Asciidoctor pdf and I came across a couple of svgs that ignore fill when I try to render them into pdfs. They both come from the [noun project](https://thenounproject.com/). I usually use Sketch and they render fine.

Here is one that renders black despite being designated as blue:

[code]

Is there anything obviously wrong with this svg that it would render black? I like

[2020-03-26 19:43] mogest commented on #120
Hi!  That's an interesting one, it has the `fill` attribute on the root-level `<svg>` tag!  Never seen that before.  A quick peek at the code indicates the likely problem: I'm always setting fill colour to black at the root level, and that happens after it sets the colour based on any attribute on the root tag.

Should be a relatively easy fix, I'll pop it on the list for when I have some time.  T

[2020-03-26 22:36] chuck-confluent commented on #120
Awesome! Thanks!

In the meantime, should I just manually move the fill attribute? Where should it move to?

[2020-03-27 02:30] mogest commented on #120
Wrap a `<g>` tag around everything inside the `<svg>` tag and pop it on that.

[2020-03-27 23:00] #120 closed

[2020-03-27 23:04] mogest commented on #119
Hi @oddhack, I've got no plans to implement <pattern> sorry.  This is documented in the README.

[2020-03-27 23:04] #119 closed

[2020-03-27 23:05] mogest commented on #118
Hi @gioele, thanks for the insight!  I'll give it a go using your patch and see whether I can take it from there.

[2020-03-27 23:09] chuck-confluent commented on #120
@mogest Thanks Roger! Any idea when this will be released? In the meantime I can manually fix the Noun Project svgs

[2020-03-28 00:30] mogest commented on #118
Yeah that wasn't too bad!  Implementing the "bounding box" mode doesn't work properly when you have an object with different X and Y dimensions—or at least it implements differently in Chrome.  The spec doesn't actually speak to how the radius should be interpreted, somewhat annoyingly.  Anyway... I think some implementation is better than no implementation.

Thanks again for doing the hard work g

[2020-03-28 00:30] #118 closed

[2020-03-28 03:47] mogest commented on #117
Hi @habamax.  Unfortunately prawn-svg doesn't support the `stop-opacity` attribute and there's no easy way to make it support it as prawn doesn't either.

There was another thing about your sample svg that prawn-svg didn't support (a gradient using an href to inherit from another gradient).  I've implemented that, but it doesn't help in your specific case I'm sorry :(

[2020-03-28 11:26] habamax commented on #117
Hi @mogest , indeed, @mojavelinux explained it to me.

Too bad inksape does simple gradients in unsupported way, but well, that is life :)

Thank you!

[2020-03-30 16:48] dimeptr opened #121 "uninitialized constant Prawn::SVG::TransformParser::Matrix"
I get uninitialized constant Prawn::SVG::TransformParser::Matrix when using prawn-svg 0.30
`pdf.svg IO.read(logo), at: [7, (pdf.bounds.top - 9)], width: 158`
it works fine with version 0.29

[2020-03-30 17:03] dimeptr commented on #121
the problem was with prawn 1.0 when all is updated it works fine

[2020-03-30 17:03] #121 closed

[2020-04-28 09:47] gioele opened #122 "Wrong coordinates for radial gradients"
The coordinates in radial gradients are off. As you can see by comparing the SVG and the PDF renderings (especially the gradient in the fingers) the focus of the radial gradients are not where they should be and the colors appear almost flat.

Maybe the unit scaling of the context hasn't been applied?

There is a reproducible test case + script at <https://gist.github.com/gioele/9e412c1a902d67377f

[2020-04-28 18:22] brandoncc opened #123 "white-space: pre doesn't preserve sequences of white space"
I have this example:

[code]

I expect that there will be multiple spaces in a row as well as empty rows, but I get this instead:

![image](https://user-images.githubusercontent.com/543973/80523071-5c715700-8942-11ea-965e-19ddaf51da2b.png)

I would be fine with using `&nbsp;`, but that results in those six characters actually being printed in the PDF.

[2020-04-28 18:31] brandoncc commented on #123
I just found `xml:space="preserve"` by reading the code base. That is deprecated, and `white-space: pre;` is recommended instead.

[2020-04-28 18:54] mogest commented on #123
Hi @brandoncc, `white-space` isn't a [SVG 1.1 CSS property](https://www.w3.org/TR/SVG11/propidx.html), and prawn-svg is an SVG 1.1 parser.  Like you found, `xml:space` is the way it's done in SVG 1.1.

Not to say that we shouldn't implement this, but it'll go pretty low down the priority list.

[2020-04-28 19:27] brandoncc commented on #123
That makes sense to me @mogest, thanks for the response. I render the SVG in a browser and then the same SVG in prawn, so I added both which covers my use case. I appreciate the explanation!

[2020-04-28 19:27] #123 closed

[2020-05-10 03:25] brandoncc opened #124 "Underline isn't working"
I have attempted to underline in every way I can think of, can anyone tell me why this doesn't underline the text?

[code]

[2020-05-10 04:03] mogest commented on #124
Hi there. Pretty easy answer, text-decoration is not implemented yet!

I'll look into the difficulty to implement and let you know.

On Sun, 10 May 2020, 3:25 pm Brandon Conway, <notifications@github.com>
wrote:

[2020-05-11 16:02] brandoncc commented on #124
Oh! I looked at the examples and the one with links has them underlined, so I thought it was. Those underlines must be different. Thanks for taking a look.

[2020-07-04 06:11] mogest commented on #124
Thanks for your patience, this will roll out with the next release.

[2020-07-04 06:11] #124 closed

[2020-07-04 07:44] mogest commented on #122
Hi @gioele, thanks so much for reporting and sorry it's taken a while to get to.

This has been a frustrating one to diagnose.  I've narrowed it down to `gradientTransform` not working properly, for neither linear nor radial gradients.  I've got a few more paths to look down, and will keep you up to date on how I'm going.

[2020-07-22 09:46] gern0 opened #125 "SVG with linked or embedded images are not rendered correctly"
Hi!
I'm using prawn-svg via asciidoctor-pdf and observed the following behaviour/issue:
Image elemets (either linked or embedded) in SVGs will not be rendered if the `defs` block is defined after elements refereing to it:

[code]
I got such a SVG-structure via exporting with Affinity Publisher.
Applications such as eog, Inkscape and Gimp had no problems with a definition of the image object in the

[2020-07-27 15:33] KNejad opened #126 "No block given error when trying to render Highcharts SVG"
I'm trying to add the following SVG generated through Highcharts server, to a PDF.

Here is the code I'm using:

[code]
where `res` is the SVG string belong.

[code]

This is causing the following stack trace:

[code]

Note the only 2 lines which are my code in the above trace are the 2 `__scrible.rb` entries which are the lines I showed above.

I don't know what is causing this issue, but I belie

[2020-07-27 19:00] mogest commented on #126
Hi @KNejad, yep this is a problem with prawn-svg.  It's setting the opacity of an element and then not rendering anything inside that element, and the code doesn't like that.

I don't have time right at the moment but will go searching for a solution in the next week.  Thanks for reporting it.

[2020-09-29 14:40] alexanderadam commented on #126
I just ran into the same issue. Is there any quick-fix?

[2020-10-24 03:31] siddjain opened #128 "stroke="transparent" is not interpreted correctly"
the issue was originally reported here:
https://discuss.asciidoctor.org/How-to-get-rid-of-border-around-SVG-images-td8284.html

is this the correct place to report this issue? thanks.

[2020-10-24 06:39] mojavelinux commented on #128
It's not correct to say that prawn-svg is adding a unnecessary border. The correct way to explain this is that prawn-svg seems to be interpreting the color "transparent" as black. In the image in question, the stroke is being applied to a polygon which itself is creating a border around the canvas.

[code]

[2020-10-24 19:47] mogest commented on #128
Hi there @siddjain, and thank you @mojavelinux again for your fast analysis!

`transparent` isn't part of [the SVG 1.1 spec](https://www.w3.org/TR/SVG11/painting.html#SpecifyingPaint), and prawn-svg is an SVG 1.1 parser.  From your link it looks like it says it's a SVG 1.1 document too, so sorry to send you on a goose chase but your issue is with graphviz.  They should be using `none`.

[2020-10-24 20:15] #126 closed

[2020-10-24 20:40] mogest commented on #125
Hi @gern0, this was fixed a while ago but I haven't released a new gem since.  I'll do that shortly!  Sorry for that.

[2020-10-24 20:40] #125 closed

[2020-10-24 20:45] #128 closed

[2020-10-24 21:06] mojavelinux commented on #128
@mogest I had a strong feeling that was the case. Thanks for clarifying!

[2020-10-24 21:59] mojavelinux commented on #125
Thanks @mogest! I just upgraded the main branch of Asciidoctor PDF to use it.

One thing I noticed is that the mimetype image/jpeg is not supported. It must be written as image/jpg. This could cause problems when using tools that are generating the image.

[code]

The regexp should probably be:

[code]

[2020-10-24 22:12] mogest commented on #125
Hi @mojavelinux, I think you transposed the two MIME types in your message!

As far as I know there is no MIME type "image/jpg".  It's not in [the registry here](https://www.iana.org/assignments/media-types/media-types.xhtml#image).  Some people might use it by mistake but they shouldn't :)

[2020-10-25 00:02] mojavelinux commented on #125
I meant it exactly as I wrote it. While image/jpg may not be an official MIME type, I've seen it used frequently enough to consider it a de-facto standard. If it's not supported, I'll certainly be fielding issues about it. And given how trivial the change is, that seems dumb.

[2020-10-25 01:19] mogest commented on #125
Hmm.  You said image/jpeg isn't supported, it is supported.  You said it must be written as image/jpg, but it must be written as image/jpeg.

Sorry to hear you think it seems dumb!  I guess you thinking it's dumb doesn't convince me that it's the right thing to do though.  The SVG ethos doesn't subscribe to Postel's law.

[2020-10-25 01:51] mojavelinux commented on #125
Aha! Yes, what I mean is that image/jpg isn't supported. That is a typo. But I think my example demonstrated what I was after.

I'll just have to hack it in Asciidoctor PDF then. I'm not going to waste time fielding issues about this.

[2020-10-27 06:25] cosmas28 opened #129 "prawn-svg not able to make https request to fetch svg image from url"
Hi,
I'm using prawn-svg with `prawn` gem to render SVG images but it doesn't work with images served from url. I'm getting the following error and the documentation is not really clear with this kind of case.
![Screenshot 2020-10-27 at 09 15 46](https://user-images.githubusercontent.com/24792513/97264326-cb6a3280-1835-11eb-9aac-21d26578e877.png)

here is how I employed it on my PDF template
`svg I

[2020-10-27 08:43] mogest commented on #129
Hi, that's a problem with your IO.read not finding a file on disk, not
prawn-svg!

From memory there's something like
require 'open-uri'
that will allow you to read from web addresses like that, but it's not
recommended you use it. A bit dangerous security wise. Better that you use
Net::HTTP.get_response or a common Ruby web client like Faraday to do the
web request for you.

On Tue, 27 Oct 2020,

[2020-10-27 19:22] #129 closed

[2020-10-28 19:00] sterlzbd opened #130 "Placement of <defs> tag matters for linearGradients"
SVG drawings that use `linearGradient` definitions from a `<defs>` tag that is positioned _after_ the drawings themselves won't be rendered.

Broken:
[code]
Works:
[code]

here is an example gist https://gist.github.com/sterlzbd/56e771c4d4f9a0e0a30520a61b7f5fc7

[2020-11-27 19:07] fprambs opened #131 "Lines are shown in black in the svg generated by highcharts"
When I export a chart from highcharts and render it, the series are displayed with a black color instead of the original color.

Original SVG
![g1](https://user-images.githubusercontent.com/7594127/100478411-e268a280-30c9-11eb-8743-effba845c22a.jpg)

Svg displayed
![g2](https://user-images.githubusercontent.com/7594127/100478421-ea284700-30c9-11eb-8421-f84aa598b86f.jpg)

Add my svg code in the lin

[2021-02-01 21:20] snecklifter opened #135 "Test failures with Ruby 3"
I think this is related to the bump to Ruby 3.0 but when running tests in Fedora I see:

[code]

One example error is:

[code]

Any ideas on how to resolve this appreciated.

[2021-02-01 21:47] mojavelinux commented on #135
You are indeed correct. I reported it here because I'm not sure if the issue is in Prawn or in Prawn SVG. https://github.com/prawnpdf/prawn/issues/1196

[2021-02-03 10:52] mtasaka commented on #135
Note that with ruby 2.7, running with `env RUBYOPT="-W:deprecated"` already warns:

[code]

[2021-02-03 10:55] mtasaka commented on #135
Perhaps this is due to ruby 3.0 keyword separation (I see many project now suffers from this change...) https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/

[2021-02-03 14:57] mtasaka commented on #135
So I've not checked in detail but #133 is needed for ruby 3.0 ( #133 may need reviewing or fixing, but something like the PR is needed )

[2021-03-08 09:21] mogest commented on #135
Fixed in #133.

[2021-03-08 09:21] #135 closed

[2021-05-30 19:03] brandoncc opened #136 "NoMethodError: undefined method `namespace' for #<REXML::Comment:0x00007f99530fc280>"
I experienced an issue with user-contributed content throwing:

[code]

I added a `pry`:

[code]

and here is my debugging spike:

[code]

Here is the SVG I was trying to process:

[code]

I don't know how or why there is a `` there, but we have to be able to handle this gracefully.

For now, I have resolved it with this:

[code]

[2021-05-31 05:59] brandoncc commented on #95
@LuckDragon82 would it be possible to get a snippet of code that shows what you did with nokogiri? I need to do the same thing and I'm not sure exactly what you did.

Thanks!

[2021-05-31 06:29] brandoncc commented on #95
@mogest I have tried the same thing, and I can confirm that it isn't trying to use my fallback font.

[code]

This throws an error when it hits an emoji, but if I set the font family in the SVG it doesn't. Why isn't the fallback working? Also, Prawn supports an array of fallback fonts. Is there a reason prawn-svg doesn't?

[2021-05-31 06:33] brandoncc commented on #95
I figured out just after submitting my question that I needed to use `fallback_font_name` instead of `fallback_font`. That fixed my issue. The fallback is being used now.

I would still like to provide an array though, to support more characters. Is that possible?

[2021-06-02 09:33] #136 closed

[2021-06-02 09:34] mogest commented on #136
Thanks @brandoncc!  Surprising that no-one has run into this up until now :)  Fixed on master although your patch looks like it's serving you well for now and won't hurt anything.

[2021-06-02 09:44] mogest commented on #95
As far as I can tell, Prawn only takes one font.  The fallback font is used by prawn-svg if the CSS- or attribute-specified font isn't found on the system, but it doesn't do anything as fancy as falling back if a specific character isn't found inside the given font sorry.

[2021-06-02 10:03] mojavelinux commented on #95
That's not the case. Prawn does analyze each fallback font until it finds a font that provides the glyph. Prawn's own docs confirm this:

Here's where the logic for this feature can be found:

https://github.com/prawnpdf/prawn/blob/master/lib/prawn/text/formatted/box.rb#L417-L475

[2021-06-02 10:17] mogest commented on #95
Ah interesting. I'm on my phone now so can't check, but is this just in Box
(which can't be used with prawn-svg) or available to the text primaries
too? If the latter it shouldn't be too hard to wire up. The prawn-svg
fallback font is unrelated to the prawn fallback system which I did not
know existed :)

On Wed, 2 Jun 2021, 10:03 pm Dan Allen, ***@***.***> wrote:

[2021-06-03 00:37] brandoncc commented on #136
I was also surprised that nobody else had hit this. Thanks @mogest !

[2021-06-03 00:46] brandoncc commented on #95
As far as I know, fallbacks work with all text in Prawn. We have an array
of about 8 fallback fonts for different spoken languages. It would be very
much appreciated if per glyph fallbacks worked with multiple fonts! I was
actually surprised you didn't use the same fallbacks as the rest of the
document, but that makes sense now.

On Wed, Jun 2, 2021, 3:18 AM Roger Nesbitt ***@***.***> wrote:

[2021-06-03 09:22] mogest commented on #95
Neat. Would I be able to ask that you share a simple SVG that illustrates
this functionality? It'd make implementation faster!

On Thu, 3 Jun 2021, 12:46 pm Brandon Conway, ***@***.***>
wrote:

[2021-06-11 19:41] CWempe opened #137 "Support referenced SVG images"
I am using asciidoctor to create PDFs.
I created an SVG file for the title page of my document.
This SVG file has two other images referenced like this:

[code]

This does not work because `prawn-svg` does not support linked SVG files in a SVG file.
It works when I change it to PNG.

[code]

It would be great if `prawn-svg` would support this.

I initially created an issue here: https://github.com

[2021-06-11 19:44] mogest commented on #137
Hi, it is supported with the file:// scheme but you’ll need to enable it
and use a full URL. See readme for details.

On Sat, 12 Jun 2021 at 7:41 AM, Christoph Wempe ***@***.***>
wrote:

[2021-06-11 19:46] mojavelinux commented on #137
Interesting. I was not aware of that. I suppose it would be possible in Asciidoctor PDF to rewrite the target automatically.

Is there a reason that the relative path cannot be supported? Just curious.

[2021-06-11 19:47] mogest commented on #137
Oh, apologies. You were referring to it not supporting svg files. That’s
correct. I don’t have any plans to implement this but you’re welcome to
contribute.

On Sat, 12 Jun 2021 at 7:41 AM, Christoph Wempe ***@***.***>
wrote:

[2021-06-11 19:52] mogest commented on #137
Apparently I can’t remember my own code. It does in fact support refs
without the file: schema specified! The problem here is it doesn’t support
svg images. Serves me right for replying to emails when I’ve just woken up.

On Sat, 12 Jun 2021 at 7:46 AM, Dan Allen ***@***.***> wrote:

[2021-06-11 19:53] mojavelinux commented on #137
I'll see if someone in the community is available to contribute.

[2021-06-12 11:34] CWempe opened #138 "reference image in parent directory does not work"
I want to create pdf files with `asciidoctor-pdf`.
My goal is to use a universal `theme` folder that can be copied into each project folder and links to a project specific title image.
The theme uses a `title_page_background.svg` wich is located in `./theme`.
In my project folder is a directory called `images` with a `title_image.jpg`.

[code]

So `title_page_background.svg` has a `xlink:href` poi

[2021-06-12 11:55] mojavelinux commented on #138
This is definitely not a prawn-svg issue. Unless you are absolutely certain that the issue with with prawn-svg itself, I strongly recommend not opening issues here that pertain to using Asciidoctor PDF.

[2021-06-12 14:31] CWempe commented on #138
Sorry.
I guess this was due to the fact I did it the other way round in https://github.com/asciidoctor/asciidoctor-pdf/issues/1937.

I will post in the chat first, now.

[2021-06-12 14:31] #138 closed

[2021-06-19 16:55] brandoncc commented on #95
Hi @mogest, I missed your request sorry!

If I understand what you are asking, you want to see how prawn allows me to set my fallback fonts. If you go to [the manual](https://prawnpdf.org/manual.pdf) and search "fallback_fonts" you will see the section about it where it shows setting them on a `#text` element.

As noted at the end of that section, you can also set them document-wide. This is done

[2021-06-19 20:00] mogest commented on #95
Thanks Brandon. Could you give me a tiny SVG file that would trigger the
use of fallback fonts please? I'm not used to the idea, so I'm not sure how
I'd go about testing that it's working at the moment :) If I had an SVG to
put in our test suite then I could confidently implement it I think.

On Sun, 20 Jun 2021, 4:55 am Brandon Conway, ***@***.***>
wrote:

[2021-06-19 21:48] brandoncc commented on #95
This should work:

[code]

I'm not sure about the namespacing, so feel free to adjust that as needed for prawn-svg. The text content just needs to be characters that are not in the `Times-Roman` font family. I used the text from the example in the prawn manual, except I also added the emoji as another test.

[2021-06-25 04:38] brandoncc commented on #95
I'm just checking in to see if this was helpful. Was it @mogest? Thanks for any time you are spending on this, it is very appreciated!

[2021-06-25 04:49] mogest commented on #95
Yes, thanks Brandon!  I have been flooded with work and family stuff but
I'm hoping to get to this in the weekend.

On Fri, Jun 25, 2021 at 4:38 PM Brandon Conway ***@***.***>
wrote:

[2021-06-25 04:51] brandoncc commented on #95
That sounds great. If there is anything else I can do to help, please let me know.

[2021-06-26 04:11] mogest commented on #95
Thanks for your patience, I've spent a bit of time on it just now.

Not good news I'm sorry, only the Box text functions support fallback fonts.  I can't remember why but when I was last working with the text implementation I found I couldn't use Box.  The code also uses `width_of` to determine how long the text will be, and this too only works with one font.

I'm sure it's possible to implement i

[2021-06-26 04:27] brandoncc commented on #95
That's a huge bummer for us, but I respect your decision. Thank you for the time you invested in researching this.

[2021-06-26 04:32] brandoncc commented on #95
By the way, the first time it came up was actually in 2017 when this issue was opened. Somehow that user came up with a hack to cycle through elements using nokogiri since prawn-svg didn't support it. I sure wish I knew how they achieved that.

Again, thanks for the help and I hope this does eventually change....although we may be forced to find a different solution by then.

[2021-06-26 05:00] mogest commented on #95
I'm happy to help with the workaround the other person posted above, I'm
pretty sure I understand the approach they took. It sounds like they load
the SVG in and parse with nokogiri (REXML works too, that's what prawn-svg
uses), then they go find all the text elements, and if the text elements
has text that needs a different font they set the font family property on
that element. Then render it ba

[2021-06-26 06:22] brandoncc commented on #95
Thanks for that. I have the same understanding as you described, but I'm not sure how that would work on a character-by-character basis. For example, what if the text is Korean and has emoji? This would use the Korean font as a fallback, but also use an emoji font as a second fallback. Do I have a misunderstanding of how it would work?

[2021-06-26 07:45] mogest commented on #95
Hmm I wonder if you could replace any emoji with a tspan that has the
different font on it?

I'm not sure about the breadth of your use case to make a good suggestion,
but assuming a bunch of things, how about:
* Go through every text and tspan element, looking at text content
* Detect which fonts are required for the glpyhs
* If it's all the same font, just set the font family on that element
* I

[2021-06-26 18:04] brandoncc commented on #95
I currently don't have any idea how to tell what fonts are not rendering properly or how to find the fonts which will render them correctly. I wonder if I could leverage the Prawn API to tell me these things?

[2021-08-09 12:16] Nowass opened #139 "SVG images rendering issue"
Hello,

I am using asciidoctor to create PDFs. I'm using the  MS Visio for SVG image generation and I didn't have any troubles at all up to now. With the latest prawn-svg version, some of them are not rendered correctly and the PDF output is "somehow" broken.

I saw some info that the latest update of the prawn-svg module change the approach to how the SVG images are rendered, but frankly speaking

[2021-08-09 23:13] mojavelinux commented on #139
Asciidoctor PDF 1.6.0 does not support loading an image in an SVG from a data URI. Support for that feature was added in the upcoming Asciidoctor PDF 2.0.0 release. So I believe this question does not pertain to prawn-svg. Though it is curious that we still need a workaround for this in Asciidoctor PDF. See https://github.com/asciidoctor/asciidoctor-pdf/blob/main/lib/asciidoctor/pdf/ext/prawn-svg/

[2021-08-09 23:15] mojavelinux commented on #139
Aha, the reason we have the workaround is because prawn-svg does not allow image/jpg (it only looks for image/jpeg). However, that doesn't impact this case.

[2021-08-09 23:33] mojavelinux commented on #139
I really don't understand why this works with Asciidoctor PDF 2 but not Asciidoctor PDF 1.6.0. The two code bases have diverged substantially, so it's not easy to nail down. I recommend Asciidoctor PDF 2 (currently unreleased) if you need this working right away. I don't have time at the moment to figure out what the problem might be.

[2021-08-10 06:13] Nowass commented on #139
Hi @mojavelinux , thanks for the fast reply!

I am a bit wondering ...  you mentioned, that loading an image in an SVG from a data URI is not supported in 1.6.0 and will be added in the 2.x version ... from my experience, the attached image was rendered fine already in 1.5.x version ... does it means, there was "removed/changed" such functionality in 1.6 and will be working again in 2.x version?

[2021-08-10 06:27] mojavelinux commented on #139
It was a previously undocumented feature. What I do know is that the release notes for Asciidoctor PDF 1.6.0 state:

So clearly there was a point when it didn't work, or we didn't have tests for it. And the data loader in prawn-svg is definitely being called in Asciidoctor PDF 1.6.0. The image is just not showing up. I don't know why.

There are a lot of different parts at play here, and there hav

[2021-08-10 06:42] Nowass commented on #139
Ok, clear ... thanks for the explanation ;-) I'll stay with 1.5 and wait for Asciidoctor PDF 2 release.
Thanks for your work!

[2021-08-10 06:43] Nowass commented on #139
then maybe I can close the issue, right?

[2021-08-25 10:32] afdev82 opened #140 "Support CMYK colors"
Hi all,

I have a feature request, I don't know how difficult it could be to support the following syntax for SVG v1.1 or v2: https://www.w3.org/TR/SVGColor12/#devicecmyk

I'm preparing PDF files to print and I have to enter all color values in CMYK.
It's already possible to do it in Prawn, but for svg images not.
I have svgs with RGB values that I can easily change to have the relative CMYK value

[2021-08-25 10:41] mogest commented on #140
Hi, thanks for the request. Do you have a simple sample SVG with CMYK that
we can use as a test?

On Wed, 25 Aug 2021 at 10:32 PM, Antonio Facciolo ***@***.***>
wrote:

[2021-08-25 11:42] afdev82 commented on #140
I have this one for example, I just used the syntax like in the docs:

[code]

[2021-08-28 10:19] mogest commented on #140
Pushed to master, let me know if you run into any problems with it.

I tried to find a reference to the idea that you could specify multiple space-delimited colours and couldn't find it anywhere.  The only time you can in SVG 1.1 is if you're passing in a URL and want a fallback colour if the URL doesn't work.  Also Chrome doesn't support it, so it doesn't appear to be out there in the wild.  I've

[2021-08-28 10:19] #140 closed

[2021-09-24 10:41] afdev82 commented on #140
Hi @mogest,
I continue to write here my issues.

If I have an SVG without a fill specified for some paths, the generated file has mixed color spaces.
In this case from what I could understand, the default color will be '000000' and it is specified in HEX (RGB) [here](https://github.com/mogest/prawn-svg/blob/master/lib/prawn/svg/color.rb#L5).
If I change the SVG and I explicitly set the fill to '#0

[2021-09-25 01:39] mogest commented on #140
Hi @afdev82.  I took a look at your SVG, both in Chrome and rendered using prawn-svg, and they look identical.  There are also no CMYK colours specified inside it?  I think I know what you're asking but not sure how that SVG relates to it?

[2021-09-27 11:14] afdev82 commented on #140
Yes, I sent you the original SVG with RGB colors.
If I changed the HEX codes with the corresponding CMYK colors, I would end up with a PDF containing a black RGB color.
I assume it's because this is the default color of the element without fill.
I attach the same SVG with the colors in CMYK.
[24147666_cmyk.zip](https://github.com/mogest/prawn-svg/files/7235759/24147666_cmyk.zip)

[2021-09-27 19:57] fprambs opened #141 "SVG Text Outline error in render"
I'm trying to render a correctly generated svg from highcharts, but when rendering, the double text is smeared.
Attached image of original svg and rendered svg

Bad img
<a href="https://ibb.co/nc9d8p1"><img src="https://i.ibb.co/vPpyv9d/imagenmala.jpg" alt="imagenmala" border="0"></a>

Good img
<a href="https://ibb.co/qNtRjh2"><img src="https://i.ibb.co/1rD9QB4/imagenbuena.jpg" alt="imagenbuena" b

[2021-09-27 20:07] mogest commented on #141
It doesn't look smeared to me?  It's a different font, though.

[2021-09-27 20:14] mogest commented on #141
The SVG is very unusual
[code]

I'm not sure why that last "43 500" isn't in the second tspan, or why the two tspans aren't siblings.

Don't think I can help you with this one sorry.  If you can come up with a small example that demonstrates a bug I'm happy to look into it further.

[2021-09-28 18:40] #141 closed

[2021-09-28 18:40] fprambs commented on #141
Estimated, indeed the bold family of the letter in question did not correspond to the normal family and was rendered badly. Thank you very much for the response and guidance. Greetings

[2021-09-30 08:48] afdev82 commented on #140
I tried to use the `COLOR_MODE` to set the `DEFAULT_COLOR` in the `Prawn::SVG::Color` class, but it didn't work (because the constant in the class was read before the initializer).
I'm not sure it's a best practice, I tried with an `attr_accessor` too.

[2021-10-19 11:02] SilentButeo2 opened #143 "SVG not rendering correct"
I'm using asciidoctor-pdf (1.60 on Win10) to convert .adoc files.
I have some issues to see some of the [mermaid] converted images.
In my setup, the [mermaid] text gets converted into a .svg file. And I presume it is that .svg that is send to prawn-svg to get converted.

This is the result I expect:
![svg](https://user-images.githubusercontent.com/14175250/137895305-2887ef91-81c5-4406-a6ae-29767b2

[2021-10-19 19:52] mojavelinux commented on #143
The problem here is one that has come up many, many times. Mermaid does not generate portable SVGs. Instead, it embeds HTML into the SVG container as a foreign object. That is only going to work in a web browser. In order for an SVG library like prawn-svg to render an image, it needs to be a pure SVG.

[2021-11-08 05:14] clveranis commented on #129
Thanks for the heads up, how would you do this using `Net::HTTP.get?`

Using `svg URI.open(@user.drawing.service_url)` (which is the URL for the SVG file with Active Storage/S3), then it renders fine.

However if I use something like `svg IO.read(Net::HTTP.get(URI.parse(@user.drawing.service_url)))` then I get a `File name too long @ rb_sysopen` error with the entire SVG data being read as the fil

[2021-11-17 20:23] alek3y opened #144 "Support for embedded SVG data URLs"
It looks like images like this one are not supported (`...` is just to make the snippet shorter):
[code]
I tried building a pdf with asciidoctor-pdf and the example in the readme, but both failed to show the embedded images.

[2021-11-17 20:46] mojavelinux commented on #144
To my knowledge, prawn-svg only supports base64-encoded image/png and image/jpeg href values on the image tag.

[2021-11-17 20:49] mogest commented on #144
Hi @alek3y, yes @mojavelinux is correct.  I'll update the README to be more specific about what image types prawn-svg supports.

[2021-11-17 21:16] alek3y commented on #144
Wouldn't it be possible to also support image/svg? Some programs unfortunately embed the image as a url instead of putting its tags directly into the SVG.

[2021-11-18 01:47] mogest commented on #144
Definitely possible but there'll be a bit of work required to get it going.
Happy to receive a pull request for this functionality.

On Thu, 18 Nov 2021, 10:17 am alek3y, ***@***.***> wrote:

[2021-11-19 20:16] mogest commented on #129
Hi there.  This is more a general Ruby question than a prawn-svg question,
but you're trying to read a file that's named the contents of the GET
request.  `IO.read` is only for reading files.  Check out a Net::HTTP cheat
sheet to find out how to get the contents of a web resource, and pass that
string directly to `svg`.

On Mon, Nov 8, 2021 at 6:15 PM clveranis ***@***.***> wrote:

[2021-12-31 23:12] uidzip opened #145 "Embedded fonts"
If I wanted to implement support for embedded fonts, where would I start in the code?  There's a lot of code dealing with fonts and its not immediately obvious to me where I would begin.

`<style>@font-face{font-family:"Arial Narrow";src:url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAC8AAA4AAAAAP5wAAl64AAAAAAAAAAAAAAAAAA...`

There's a python program here [convert woff to otf/ttf

[2022-01-01 00:17] mogest commented on #145
Hi there, happy new year. Prawn does all the heavy lifting when it comes to
fonts, the prawn-svg code you're seeing is more for css parsing and
selecting the right fonts based on their name. So I think your first step
would be just work directly with prawn and see if you can get it to
recognise a non-file-system based woff. If you get there, and register it
in the prawn font registry, prawn-svg sh

[2022-01-01 00:23] mogest commented on #145
(let me know if you need help getting the font data out of the element)

On Sat, 1 Jan 2022, 12:12 pm Tom Lahti, ***@***.***> wrote:

[2022-01-01 05:25] uidzip commented on #145
I don't intend to get prawn to work with woff.  I plan to convert the woff to ttf for prawn, its not a difficult conversion.  The trick is the woff is in the 'data:'.  The font data is embedded in the SVG, just like an embedded PNG or JPG.  So I have to extract the WOFF data from the SVG, convert it to TTF (I can handle that part fine), probably save it out to a temp file, and then get the temp fi

[2022-01-01 05:31] mogest commented on #145
Got you. It would be a bit sad to have to write it out to a file, hopefully
you can find a way to inject directly in memory.

prawn-svg does do some file preprocessing, mainly for css I think, so we
could hook it in there. I'll take a look when I'm at my laptop in the next
few days and leave you my thoughts if you haven't already made progress.

On Sat, 1 Jan 2022, 6:25 pm Tom Lahti, ***@***.***>

[2022-01-28 05:28] tsurezuregusa opened #146 "SVG to PDF encoding error"
Greetings,

I am unsure if this is an issue with prawn itself or this gem. But prawn seems to be working fine, and there perhaps just missing something on the svg side.

Trying to render a simple SVG as PDF with non-ASCII character gives an error:
`Prawn::Errors::IncompatibleStringEncoding: Your document includes text that's not compatible with the Windows-1252 character set. If you need full UTF-

[2022-01-30 01:12] mogest commented on #146
Hi there, that error is a Prawn error.  You can load in your gkai00mp.ttf font into the Prawn font registry and then get your SVG to use it using `font-family` on a stylesheet, that may fix it.

[2022-01-30 01:12] #146 closed

[2022-01-30 12:15] tsurezuregusa commented on #146
I did try `font-family`. Thank you for the reply.

[2022-02-13 18:24] Alwinator commented on #128
@mojavelinux I have the same problem as the initial author. I reported the issue to Graphviz: https://gitlab.com/graphviz/graphviz/-/issues/2192

[2022-02-13 21:42] mojavelinux commented on #128
Looks like this issue has been previously reported as https://gitlab.com/graphviz/graphviz/-/issues/1863

[2022-02-18 14:12] afdev82 opened #147 "vector-effect and not scaling stroke"
Hi all,

I'm using prawn-svg to generate technical drawings with svg images representing parts.
I noticed that when I scale my svgs the stroke is scaled too and I would like to have the same stroke for all shapes in my pdf (I use other primitives of prawn to just draw other shapes).
I found that in theory I could add the ["vector-effect"](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/

[2022-02-22 07:47] afdev82 commented on #147
I don't need this feature anymore, for my use case I've found another solution.
The scaling of the stroke is not a problem anymore.

[2022-02-22 07:47] #147 closed

[2022-02-22 12:39] Alwinator opened #148 "Unknown tag 'mask'; ignoring"
I am using a pipeline that generates a PDF using asciidoctor-pdf. It looks roughly like this:

`Many PDF documents > PDF to SVG converter > AsciiDoc with included SVG images > PDF file`

On the last step, when asciidoctor-pdf generates the PDF I am getting the following error. Since asciidoctor-pdf is based on prawn-svg I think the error is referred to this repository.

The error in the logs:
[cod

[2022-02-22 15:45] mogest commented on #148
Hi @Alwinator, thanks for the report.  prawn-svg doesn't handle `mask`, and it probably should since it's part of the svg 1.1 spec.  It's the first time I've come across it!

The SVG you have there is very strange, though.  It has two 2048x2048 PNG images in it, one of them being the icon you see above in the prawn-svg output (the blue icon with a black background), and the other being identical b

[2022-02-22 15:48] mogest commented on #147
Hi @afdev82, glad to hear you've found another solution.  `vector-effect` is an SVG 2.0 feature and out of scope for this SVG 1.1 parser.

[2022-02-22 16:51] #130 closed

[2022-02-22 16:51] mogest commented on #130
Thanks @sterlzbd, this is now fixed.

[2022-02-22 17:17] mogest commented on #131
Hi @fprambs, thanks for the report.  This SVG uses `rgba(r, g, b, a)` to specify its color, which is not supported by SVG 1.1 and therefore not by prawn-svg.  Highcharts should instead use `rgb(r, g, b)` for colors and the opacity property to get the subtle outline effect around their lines.

[2022-02-22 17:17] #131 closed

[2022-02-22 17:41] Alwinator commented on #148
@mogest Thank you! I have just analysed the SVG file and, as you mentioned, it is really weird. Especially, because the original PDF is vector graphic only and does not include a PNG. I will take a more detailed look at the other parts of my pipeline.

[2022-02-22 18:34] sterlzbd commented on #130
Thank you!

[2022-02-22 18:38] Alwinator commented on #148
@mogest I have tried many other PDF to SVG converters and unfortunately, all other converters are generating SVGs with `<mask>` tags. I would appreciate it a lot if you could implement it if you have time. Thank you very much in advance!

[2022-03-11 18:53] Alwinator commented on #137
I would need this feature too since asciidoctor-diagram (with graphviz) generates this syntax when you use an SVG for a node. I am not a Ruby programmer, but I think instead of skipping the element it should be replaced with the raw SVG code.

https://github.com/mogest/prawn-svg/blob/e085b1d6d84ac417a92685be2d2d32d919702bfd/lib/prawn/svg/elements/image.rb#L75

[2022-03-18 19:15] mogest commented on #137
Sadly it's not that straight forward @Alwinator.  The SVG has its own context and view box; things that happen in the main SVG shouldn't affect things in the embedded SVG, and it has to be scaled correctly.  It shouldn't be super hard to implement, but it's definitely not as simple as just copying the SVG code inline.

[2022-06-01 06:59] mojavelinux opened #149 "Image element does not use image handlers registered with Prawn"
Prawn allows image handlers to be registered and unregistered. This functionality is important for registering image handlers for image formats that Prawn does not support. A specific example is [prawn-gmagick](https://github.com/packetmonkey/prawn-gmagick).

prawn-svg is doing its own image handler lookup. This bypasses alternate image handlers. But it doesn't have to. It could use the [Prawn.ima

[2022-06-01 07:00] mojavelinux commented on #149
I'll submit a PR with a proposed change.